$SIDEMENU_TOP: #00a497;
$SIDEMENU_BOTTOM: #2cbaae;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
page-fixedpackage-guest {
    $line-height: 1;
    $lines-to-show: 2;
    .opaque {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    .opaque .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .header {
        ion-card.card {
            box-shadow: 2px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 0px;
            float: left;
            margin-bottom: 0px;
            /* important */
            position: relative;
            /* important(so we can absolutely position the description div */
        }
        .content-custom {
            box-shadow: none;
            background: rgba(0, 0, 0, 0.4);
            right: 0;
            display: block;
            bottom: 0;
            font-size: 2em;
            font-weight: 900;
            text-align: left;
            left: 0;
            position: absolute;
            padding: 0px 10px 10px 10px;
        }
        .h2-title-header {
            font-size: 6vw;
            font-weight: bold;
            font-family: 'Open Sans', cursive;
            color: white;
            overflow: inherit;
            text-overflow: inherit;
            white-space: normal;
        }
        .h3-subtitle-header {
            font-family: 'Open Sans', cursive;
            color: white;
            font-size: 4vw;
            font-weight: 500;
        }
        .card-custom {
            margin-bottom: 10px;
            border: medium none;
            border-radius: 5px;
            display: block;
            text-align: center;
            margin: 2px 0 2px;
            padding-top: 22%;
        }
    }
    .label-header {
        .card-header-md {
            padding: 0px 0px 0px 10px;
            background-color: #2cbaae;
        }
        h2.card-title {
            font-size: 4vw;
            font-weight: normal;
            font-family: 'Open Sans', cursive;
            color: white;
            padding: 1vw;
        }
        ion-card.content-custom-item {
            padding: 0px;
            font-size: 1.4rem;
            line-height: 1.5;
            background-color: white;
        }
        [col-8] {
            -webkit-flex: 0 0 66.66667%;
            -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
            width: 66.66667%;
            max-width: 66.66667%;
            text-align: justify;
        }
    }
    .custom-footer{
        margin-bottom: 10vw;
    }
    h3.card-title {
        font-family: 'Lato', sans-serif;
        font-size: 3.8vw;
        color: #595959;
        font-weight: 600;
        text-align: right;
    }
    h3.card-label {
        font-family: 'Lato', sans-serif;
        font-size: 3.8vw;
        color: #808080;
    }
    .btn-accept {
        background-color: #55bbd4;
    }
    .custom-icon {
        font-size: 5.5vw;
        color: #55bbd4;
        background-color: #fff;
    }
    .custom-icon2 {
        font-size: 4.5vw;
        margin-right: 2vw;
        color: #55bbd4;
        background-color: #fff;
    }
    .card-content-md {
        padding: 5px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    ion-row.row-label {
        text-align: left;
        align-content: left;
    }
    ion-row.row-content {
        text-align: center;
        align-content: center;
        margin-left: 2vw;
    }
    [col-5-custom] {
        // -webkit-flex: 0 0 41.66667%;
        // -ms-flex: 0 0 41.66667%;
        // flex: 0 0 41.66667%;
        // width: 41.66667%;
        // max-width: 41.66667%;
        -webkit-flex: 0 0 57.66667%;
        -ms-flex: 0 0 57.66667%;
        flex: 0 0 57.66667%;
        width: 57.66667%;
        max-width: 57.66667%;
        align-self: center;
    }
    [col-2-custom] {
        // -webkit-flex: 0 0 16.66667%;
        // -ms-flex: 0 0 16.66667%;
        // flex: 0 0 16.66667%;
        // width: 16.66667%;
        // max-width: 16.66667%;
        -webkit-flex: 0 0 10.66667%;
        -ms-flex: 0 0 10.66667%;
        flex: 0 0 10.66667%;
        width: 10.66667%;
        max-width: 10.66667%;
        align-self: center;
    }
    [col-3-custom] {
        -webkit-flex: 0 0 15%;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        width: 15%;
        max-width: 15%;
    }
    .text-input-md {
        text-align: center;
        margin: 0px;
        padding: 1vw;
        width: calc(100% - 8px - 8px);
    }
    .custom-input {
        text-align: center;
        border: 1px solid;
        border-color: gray;
        border-radius: 5px;
    }
    p.p-custom {
        color: white;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 3.5vw;
        width: 50%;
        border-radius: 5%;
        text-align: center;
        padding: 2px;
        font-weight: 600;
        border: #f0b840 solid 1px;
        background-color: #f0b840;
    }
}