<ion-header no-border [class.opaque]="!showToolbar">
  <!--Navbar-->
  <ion-navbar color="primary">
    <!--Toggle title-->
    <ion-title [hidden]="!showToolbar">
      Booking Options
    </ion-title>
  </ion-navbar>
</ion-header>
<div class="scroll-content" style="padding-top:0px">
  <ion-content fullscreen="true" style="margin-left: -10px; width:106%; overflow: visible; margin-top: -10px;" (ionScroll)="onScroll($event)">
    <div class="header">
      <ion-card class="page-daily-details">
        <img src="https://www.whitewaterwest.com/drive/uploads/2016/08/Waterbom-Bali-Kuta-Bali.jpg" style="height: 200px;" />
        <ion-card-content class="content-custom" style="top: 0px;">
          <ion-card-title class="card-custom">
            <h2 class="h2-title-header">Bali Honeymoon Package</h2>
            <h3 class="h3-subtitle-header">from Jul, 26 until Jul, 30 2017</h3>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card>
      <div class="label-header">
        <ion-card-header>
          <h2 class="card-title">Tour Details</h2>
        </ion-card-header>
      </div>
      <ion-card-content class="content-custom-item" style="margin-left: 0px; padding:0px;">
        <ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <h3 class="card-label">Tour Name: </h3>
              </ion-col>
              <ion-col col-8>
                <h3 class="card-title">Bali Honeymoon Package</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <h3 class="card-label">Min. Guest(s): </h3>
              </ion-col>
              <ion-col col-8>
                <h3 class="card-title">2 Guest(s)</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <h3 class="card-label">Price: </h3>
              </ion-col>
              <ion-col col-8>
                <h3 class="card-title">Rp. 599.000</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div class="label-header">
        <ion-card-header>
          <h2 class="card-title">Package Quantity</h2>
        </ion-card-header>
      </div>
      <ion-card-content class="content-custom-item" style="margin-left: 0px;">
        <ion-grid>
          <ion-row class="row-label">
            <ion-col col-12>
              <ion-label stacked>
                <ion-icon ios="ios-people" md="md-people" class="custom-icon" style="background-color:#FF6E40"></ion-icon> Guest(s)</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-content">
            <ion-input disabled="true" type="text" (click)="passengerTapped($event)" [(ngModel)]="passenger" aria-placeholder="passenger"
              placeholder="How many person you're travelling with?"></ion-input>
          </ion-row>

          <ion-row class="row-label">
            <ion-col col-12>
              <ion-label stacked>
                <ion-icon ios="ios-cloudy-night" md="md-cloudy-night" class="custom-icon" style="background-color:#FF4081"></ion-icon> Room Allocations</ion-label>
              <!--<ion-input type="text" disabled="true" [(ngModel)]="allocation" aria-placeholder="allocation" (click)="hotelTapped($event)"></ion-input>-->
            </ion-col>
          </ion-row>
          <ion-row class="row-content" style="margin-bottom:10px;">
            <ion-input disabled="true" type="text" (click)="hotelTapped($event)" aria-placeholder="passenger"
              placeholder="Tap to allocate your room"></ion-input>
            <ion-item class="line-break" (click)="hotelTapped($event)" style="background-color: transparent;padding-left: 3px; margin-bottom:10px;"><span class="line-break" style="font-weight:400; margin-bottom:10px;" *ngFor="let all of allocation ;let i = index">{{all.guest}} {{all.name}}<span class="line-break" style="font-weight:400; margin-bottom:10px;" *ngIf="allocation.length > 1 && i  != allocation.length - 1 ">, </span></span>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button style="margin-top: 0px;margin-bottom: 0px;" full class="btn-accept" (click)="continueTapped()">Continue</button>
    </ion-col>
  </ion-row>
</ion-footer>