<ion-header>

  <ion-navbar>
    <ion-title>Filter Transport</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid class="vertical-align-content">
    <ion-row class="row-label">
      <ion-col col-12>
        <ion-label stacked>
          <ion-icon ios="ios-pin" md="md-pin" class="custom-color"></ion-icon> Destination</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-5 class="col-custom">
        <ion-item class="custom-item" style=" border-bottom: 0" (click)="filterDestination(0)"><span *ngIf="daily?.destinationFrom != null">{{daily?.destinationFrom.Name}}</span></ion-item>
      </ion-col>
      <ion-col col-2>
        <h2 class="custom-h2">to</h2>
      </ion-col>
      <ion-col col-5 class="col-custom">
        <ion-item class="custom-item" style=" border-bottom: 0" (click)="filterDestination(1)"><span *ngIf="daily?.destinationTo != null">{{daily?.destinationTo.Name}}</span></ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="row-label">
      <ion-col col-12>
        <ion-label stacked>
          <ion-icon ios="ios-star" md="md-star" class="custom-color"></ion-icon> Rating</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-4 (click)=" filterRat('REGULER')"> 
        <button ion-button icon-left clear class="custom-button"><div>Regular</div>
            </button>
      </ion-col>
      <ion-col col-4 (click)=" filterRat('PREMIUM')">
        <button ion-button icon-left clear class="custom-button"><div>Premium</div>
            </button>
      </ion-col>
      <ion-col col-4 (click)=" filterRat('LUXURY')">
        <button ion-button icon-left clear class="custom-button"><div>Luxury</div>
            </button>
      </ion-col>
       <!-- <ion-col col-12 class="col-custom">
        <ion-item class="custom-item">
          <ion-label>Choose Types</ion-label>
          <ion-select [(ngModel)]="rat" multiple="true" (ionChange)=filterRat(rat)>
            <ion-option *ngFor="let rat of listRatings" [value]="rat.Id">{{rat.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="custom-item" style=" border-bottom: 0">
          <ion-input disabled="true" type="text" aria-placeholder="rat" [(ngModel)]="rat"></ion-input>
        </ion-item>
      </ion-col>  -->
    </ion-row>


    <ion-row class="row-label">
      <ion-col col-12>
        <ion-label stacked>
          <ion-icon ios="ios-car" md="md-car" class="custom-color"></ion-icon> Car Classification</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-12 class="col2-custom">
        <ion-item class="custom-item">
          <ion-label>Choose Types</ion-label>
          <ion-select [(ngModel)]="type" multiple="true" (ionChange)=filterType(type)>
            <ion-option *ngFor="let type of listTypes" [value]="type.Id">{{type.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item class="custom-item" style=" border-bottom: 0">
          <ion-input disabled="true" type="text" aria-placeholder="type" [(ngModel)]="type"></ion-input>
        </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row class="row-label">
      <ion-col col-12>
        <ion-label stacked>
          <ion-icon ios="ios-easel" md="md-easel" class="custom-color"></ion-icon> Seat</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col col-12 class="col2-custom">
        <ion-item class="custom-item" style=" border-bottom: 0">
          <ion-label>Choose Seat</ion-label>
          <ion-select [(ngModel)]="seat" multiple="true" (ionChange)=filterSeats(seat)>
            <ion-option *ngFor="let se of listSeats" [value]="se.Id">{{se.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item class="custom-item" style=" border-bottom: 0">
          <ion-input disabled="true" type="text" aria-placeholder="seat" [(ngModel)]="seat"></ion-input>
        </ion-item> -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <button ion-button style="margin-top: 0px;margin-bottom: 0px;" (click)="listTapped($event)" full large>Go to List</button>
</ion-footer>