<ion-header>

  <ion-navbar>
    <ion-title>Tour Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngFor="let bookdetails of BookingDetailSum" class="selection" style="margin-left: -10px; width:105%; overflow: visible;">
    <ion-card class="card-custom" style="top:0; margin-top:0px;" *ngFor="let price of TourPriceSum">
      <ion-row>
        <ion-col col-2>

          <ion-avatar item-start>
            <img src="assets/img/user_pic.jpg" style="width:50px; height: 50px;">
          </ion-avatar>
        </ion-col>
        <ion-col col-5>
          <h2>{{userinfo?.Username}}</h2>
          <p class="p-custom" *ngIf="bookdetails?.Status == 'Booking_created'">Unpaid</p>
          <p class="p-custom" *ngIf="bookdetails?.Status == 'Booking_confirmed'">Paid</p>
          <p class="p-custom" *ngIf="bookdetails?.Status == 'Booking_Cancelled'">Cancel</p>
        </ion-col>
        <ion-col col-5>
          <h3 class="card-title" style="text-align: right;">Total Price</h3>
          <h2 class="card-title" style="text-align: right;">{{price.SharingRoomSum['Currency']}} <span *ngFor="let bookdetails of BookingDetailSum">{{bookdetails?.TourTotalPrice | number:'.0'}}</span>.-</h2>
        </ion-col>
      </ion-row>
    </ion-card>

    <p class="custom-padding">This booking request will be expired on {{bookdetails?.ExpiredOn | date:'dd MMMM yyyy'}}</p>

    <ion-card>
      <ion-card-header (click)="toggleDetails(data[0])">
        <h2 class="card-title">Tour Detail</h2>
        <!--<ion-icon color="primary" item-right [name]="data[0].icon" (click)="toggleDetails(d)"></ion-icon>-->
      </ion-card-header>
      <ion-card-content style="margin-left: 0px;" *ngIf="data[0].showDetails">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <h3 class="card-label">Tour Name: </h3>
            </ion-col>
            <ion-col col-8>
              <h3 class="card-title">{{bookdetails?.Title}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <h3 class="card-label">Start Date: </h3>
            </ion-col>
            <ion-col col-8>
              <h3 class="card-title">{{bookdetails?.StartDate | date:'dd MMM'}} - {{bookdetails?.EndDate | date:'dd MMM yyyy'}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <h3 class="card-label">Total Guest(s): </h3>
            </ion-col>
            <ion-col col-8>
              <h3 class="card-title">{{bookdetails?.TotalGuest}} Guest(s)</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-list *ngFor="let price of TourPriceSum">
      <ion-card>
        <ion-card-header (click)="toggleDetails(data[1])">
          <h2 class="card-title">Room Allocation</h2>
        </ion-card-header>
        <ion-card-content style="margin-left: 0px;" *ngIf="data[1].showDetails">
          <ion-grid>
            <ion-row *ngIf="price.SharingRoomSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Sharing Room:</h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SharingRoomSum['Pax']}}</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.SingleRoomSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Single Room: </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SingleRoomSum['Pax']}}</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.ExtraBedSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Extra Bed: </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.ExtraBedSum['Pax']}}</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.SharingBedSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Sharing Bed with Parents: </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SharingBedSum['Pax']}}</h3>
              </ion-col>
            </ion-row>
            <ion-row style="border-top:#b3b3b3 1px solid;">
              <ion-col col-10>
                <h3 class="card-title-label">Total Room(s): </h3>
              </ion-col>
              <ion-col col-2>
                <h3 class="card-title-total">{{price.SharingRoomSum['Pax']+price.SingleRoomSum['Pax']+price.ExtraBedSum['Pax']+price.SharingBedSum['Pax']}}</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="toggleDetails(data[2])">
          <h2 class="card-title">Tour Prices</h2>
        </ion-card-header>
        <ion-card-content style="margin-left: 0px;" *ngIf="data[2].showDetails">
          <ion-grid>
            <ion-row *ngIf="price.SharingRoomSum['Pax'] !=0">
              <ion-col col-7>
                <h3 class="card-label">Staying in Sharing Room ({{price.SharingRoomSum['Pax']}} X {{price.SharingRoomSum['Currency']}} {{price.SharingRoomSum['PricePerPax']
                  | number:'.0'}}.-/Guest): </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SharingRoomSum['Currency']}} {{price.SharingRoomSum['TotalPrice']| number:'.0'}}.-</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.SingleRoomSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Staying in Single Room ({{price.SingleRoomSum['Pax']}} X {{price.SingleRoomSum['Currency']}} {{price.SingleRoomSum['PricePerPax']|
                  number:'.0'}}.-/Guest): </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SingleRoomSum['Currency']}} {{price.SingleRoomSum['TotalPrice'] | number:'.0'}}.-</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.ExtraBedSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Staying in Extra Bed ({{price.ExtraBedSum['Pax']}} X {{price.ExtraBedSum['Currency']}} {{price.ExtraBedSum['PricePerPax']|
                  number:'.0'}}.-/Guest): </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.ExtraBedSum['Currency']}} {{price.ExtraBedSum['TotalPrice'] | number:'.0' }}.-</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="price.SharingBedSum['Pax'] != 0">
              <ion-col col-7>
                <h3 class="card-label">Staying in Sharing Bed ({{price.SharingBedSum['Pax']}} X {{price.SharingBedSum['Currency']}} {{price.SharingBedSum['PricePerPax']
                  | number:'.0'}}.-/Guest): </h3>
              </ion-col>
              <ion-col col-5>
                <h3 class="card-title">{{price.SharingBedSum['Currency']}} {{price.SharingBedSum['TotalPrice'] | number:'.0'}}.-</h3>
              </ion-col>
            </ion-row>
            <ion-row style="border-top:#b3b3b3 1px solid;">
              <ion-col col-6>
                <h3 class="card-title-label">Total Prices: </h3>
              </ion-col>
              <ion-col col-6>
                <h3 class="card-title-total">{{price.SharingRoomSum['Currency']}} <span *ngFor="let bookdetails of BookingDetailSum">{{bookdetails?.TourTotalPrice | number:'.0'}}</span>.-</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>


      <ion-card-content style="margin-left: 0px;">
        <ion-card-title (click)="toggleDetails(data[3])">
          <h2 class="card-title" style="height: 55px;padding-top: 15px;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;margin-top: 0px; font-size:1.8rem;">Tour Schedules</h2>
        </ion-card-title>
        <ion-grid *ngIf="data[3].showDetails">
          <ion-item *ngFor="let dp of DailyPrograms ; let j of index" class="label-title-item">
            <ion-icon color="primary"></ion-icon>
            <div class="divider-title">
              Day {{dp.Day}}, {{dp.Date | date:'dd MMMM yyyy'}}
            </div>

            <div style="padding-bottom: 0px;" *ngIf="dp.TourDestinations.length == 0">
              <p class="custom-label" style="font-size: 1.8rem; bottom: -21px;bottom: 215px;">No activities.</p>
            </div>

            <div style="padding-bottom: 0px;" *ngIf="dp.TourDestinations.length > 0">
              <ul class="timeline" *ngFor="let p of dp.TourDestinations; let i = index">
                <li>
                  <div class="timeline-thumb bg-color-positive timeline-icon" *ngIf="p.Destination != null">
                    <ion-icon ios="ios-pin" md="md-pin" class="timeline-icon"></ion-icon>
                  </div>
                  <div class="timeline-item" *ngIf="p.Destination != null">
                    <h4 class="line-break">{{p.Destination}}</h4>
                  </div>
                </li>

                <li *ngIf="p.AccommodationSummary != null">
                  <div class="timeline-thumb bg-color-dark timeline-icon" *ngIf="p.AccommodationSummary != null">
                    <ion-icon ios="ios-cloudy-night" md="md-cloudy-night" class="timeline-icon"></ion-icon>
                  </div>
                  <div class="timeline-item" *ngIf="p.AccommodationSummary != null">
                    <h4 class="line-break">{{p.AccommodationSummary["Name"]}}</h4>
                    <p class="line-break">{{p.AccommodationSummary["RoomName"]}}<span class="line-break" *ngIf="p.AccommodationSummary.RoomService != null">, {{p.AccommodationSummary["RoomService"].replace('_', ' ')}}</span></p>
                  </div>
                </li>

                <li *ngIf="p.TransportationSummary.length > 0">
                  <div class="timeline-thumb bg-color-calm timeline-icon" *ngIf="p.TransportationSummary.length > 0">
                    <ion-icon ios="ios-bus" md="md-bus" class="timeline-icon"></ion-icon>
                  </div>
                  <div class="timeline-item" *ngIf="p.TransportationSummary.length > 0">
                    <h4 class="line-break" *ngFor="let a of p.TransportationSummary ;let i = index">{{a.TransportationType}}</h4>
                    <p class="line-break" *ngFor="let a of p.TransportationSummary ;let i = index">{{a.TransportationCapacity}} Seater, {{a.TransportationService}}</p>
                  </div>
                </li>

                <li *ngIf="p.AttractionSummary.length > 0">
                  <div class="timeline-thumb bg-color-energized timeline-icon">
                    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" class="timeline-icon"></ion-icon>
                  </div>
                  <div class="timeline-item" *ngIf="p.AttractionSummary.length > 0">
                    <h4 class="line-break" *ngFor="let a of p.AttractionSummary ;let i = index">{{a.Name}}</h4>
                    <p class="line-break" *ngIf="p.AttractionSummary.length > 1 && i  != p.AttractionSummary.length - 1 ">,</p>
                  </div>
                </li>

              </ul>
            </div>
          </ion-item>
        </ion-grid>
      </ion-card-content>
    </ion-list>
  </div>



</ion-content>


<ion-footer>
  <ion-row *ngIf="isValid">
    <ion-col>
      <button ion-button style="margin-top: 0px;margin-bottom: 0px;" full class="btn-cancel" (click)="allertCancelBooking()">Cancel</button>
    </ion-col>
    <ion-col>
      <button ion-button style="margin-top: 0px;margin-bottom: 0px;" full class="btn-accept" (click)="allertConfirmBooking()">Confirm</button>
    </ion-col>
  </ion-row>
</ion-footer>