page-tour-details {
    ion-card {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        overflow: visible;
        top: 0;
        .card-md {
            margin: 10px 10px 10px 10px;
            width: calc(100%);
            border-radius: 2px;
            font-size: 1.4rem;
            background: #fff;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        ion-card-content {
            // width: 100vw;
            margin-left: -10px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 22px;
            padding-bottom: 22px;
            background-size: cover;
        }
    }
    .card-md h2 {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: 'Lato', cursive;
        color: white;
    }
    .card-md h3 {
        font-family: 'Open Sans', cursive;
        color: white;
        font-size: 2rem;
        font-weight: 500;
    }
    .card-content-md {
        // padding: 13px 16px 13px 16px;
        // font-size: 1.4rem;
        // line-height: 1.5;
        // background: black;
        // box-shadow: none;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
        display: block;
        bottom: 0;
        font-size: 2em;
        width: 100%;
        top: 0;
        height: 38.5%;
        font-weight: 900;
        text-align: center;
        left: 0;
        position: absolute;
        padding: 0px 16px 0px 16px;
        overflow: visible;
    }
}