page-changepassword {
    .toolbar-background-md {
    border-color: #008149;
    background: #008149;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
    }

    .toolbar-title-md {
    color: #f9f7f7;
    }

    .changepassword {
        ion-card-header.card-header{
        color: #000;
        text-align: center;
    }
    ion-card {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        overflow: visible;
        ion-card-content {
            // width: 100vw;
            margin-left: -10px;
            background-color: map-get($colors, primary);
            color: #FFFFFF;
            margin-top: -100px;
            text-align: center;
            padding-top: 22px;
            padding-bottom: 22px;
            background: url('../assets/img/profile_bg.png') center center no-repeat;
            background-size: cover;
            img {
                height: 140px;
                width: 140px;
                border-radius: 50%;
                border: solid 4px #FFFFFF;
                display: inline;
            }

            h2 {
                font-family: 'Quicksand', sans-serif;
                font-size: 2.5rem;
                margin-top: .5rem;
                color: white;
            }

            h3 {
                font-family: 'Quicksand', sans-serif;
                font-size: 1.8rem;
                color: white;
            }

        }

    }

}

.list > .item-block:first-child{
        border: medium none;
    }

    .item{
        margin-bottom: 10px;
        background: rgba(255,255,255, 0.2);
        border: medium none;
        border-radius: 5px;

}
.item-md {
    width: 100vw;
    // margin-left: -10px;
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .btn-update
    {
        text-transform: none;
        font-size: 16px;
        margin-left: 0px;
        margin-right: 20px;
    }

//     // Scroll Content
//     .scroll-content{
//         align-content: center;
//         justify-content: center;
//         text-align: center;
//         display: flex;
//         flex-direction: column;
//     }
//     // Ion Card
//     ion-card.card{
//         box-shadow: none;
//         background: rgba(0, 0, 0, 0.1);
//         border-radius: 5px;
//         align-content: center;
//         justify-content: center;
//         text-align: center;
        
//     }
    
//     ion-card-header.card-header{
//         color: #000;
//     }
//     .item{
//         margin-bottom: 10px;
//         background: rgba(255,255,255, 0.9);
//         border: medium none;
//         border-radius: 5px;
//         .text-input, {
//             color:#000;
//         }
//         .text-input-md {
//             margin-left: 8px;
//             margin-right: 8px;
//             margin-top: 13px;
//             margin-bottom: 13px;
//             padding: 0;
//             width: calc(100% - 8px - 8px);
//         }
//     }
}
