page-register {
    // Footer CSS
    .bottom-bar
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    // Page CSS
   h2 {
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 8vw;
        font-weight: 700;
        margin-bottom: 120px;
    }
    h3 {
        font-family: 'Architects Daughter', cursive;
        color: white;
        font-size: 8vw;
        font-weight: 500;
    }
    .p-center {
        text-align: center;
        font-size: 4vw;
        color: white;
    }


    // ion-list CSS
    // item item-trns list list-md
    .item.item-list {
        border-color:red;
        border-radius: 6px;
        background-color: #000000;
        color: white; 
        opacity: .6;
        padding-bottom: 10px;
    }

    .item.item-trns {
        border-color:red;
        border-radius: 6px;
        background-color: #000000;
        color: white;
        padding-right: 15px;
    }

    .list-background
    {
        background: transparent !important;
        border-color:red;
        border-radius: 12px;
        background-color: #000000;
        color: white; 
        opacity: .6;
        
    }

    // Register Background CSS
    .signup-background 
    {
        background-image: url('../assets/img/signup_bg.jpg');
        //background-image: url('../../img/inner_bg.png');
        // background: url('../../img/getstart.png');
        background-repeat: no-repeat;
        background-size:cover;
            &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#002f4b,#ffffff);
            opacity: .6; 
        }
    }

    .bg-img {
        width: 100%;
        height: 100%; //background-image: url('../assets/img/signup_bg.jpg');
        background: url('../assets/img/login-bg.jpg') center center no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right, #002f4b, #ffffff);
            opacity: .2;
        }
        
    } 
    
    // Scroll Content
    .scroll-content{
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    // Ion Card
    ion-card.card{
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    
    ion-card-header.card-header{
        color: #fff;
    }

    .list > .item-block:first-child{
        border: medium none;
    }

    .item{
        margin-bottom: 10px;
        background: rgba(255,255,255, 0.2);
        border: medium none;
        border-radius: 5px;
        .text-input, {
            color:#ffffff;
        }
        *:-moz-placeholder{
            color: #2979ff!important;
        }
        *:-ms-input-placeholder{
            color: #00ff00;
        }
        *::-webkit-input-placeholder{
            color: #FF9800;
        }
        input::-moz-placeholder{
            color: #ff00ff;
        }
        input:-moz-placeholder{
            color: #00ffff;
        }
    }

    // Button CSS
    .btn-register
    {
        background-color: #2979ff;
        text-transform: none;
        font-size: 4vw;
        font-family: 'Open Sans', cursive;
    }
    .btn-register:hover
    {
        background-color: #1587b9 !important;
    }

    .btn-login
    {
        background-color: #FF9800;
        text-transform: none;
        font-size: 16px;
    }
    .btn-login:hover
    {
        background-color: #FF8100 !important;
    }

    // Alignment CSS
    .center{
    display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: white;
    }


    .input-has-focus .label-md[floating], .input-has-value .label-md[floating] {
        transform: translate3d(0, 0, 0) scale(1.1);
    }


    .input-has-focus .label-md[floating] {
    color: white;
    }

    .label-md[floating] {
        font-size: 4vw;
    }

    .item-label-floating .text-input-md {
        font-size: 4vw;
    }
}

