$SIDEMENU_TOP: #00a497;
$SIDEMENU_BOTTOM: #2cbaae;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
page-confirm-booking {
    ion-card {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        margin-left: 0px;
        overflow: visible;
        ion-card-header {
            h2.card-title {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.8rem;
                color: white;
                font-weight: 600;
            }
        }
        ion-card-content {
            // width: 100vw;
            margin-left: -10px;
            text-align: left;
            padding-top: 22px;
            padding-bottom: 22px;
            overflow: visible;
            background-color: #f9f9f9;
            h2.card-title {
                font-family: 'Lato', sans-serif;
                font-size: 2.5rem;
                margin-top: .5rem;
                color: black;
            }
            h3.card-title {
                font-family: 'Lato', sans-serif;
                font-size: 1.8rem;
                color: #595959;
                font-weight: 600;
                text-align: right;
            }
            h3.card-title-label {
                font-family: 'Lato', sans-serif;
                font-size: 1.8rem;
                color: #808080;
                font-weight: 600;
                text-align: left;
            }
            h3.card-title-total {
                font-family: 'Lato', sans-serif;
                font-size: 1.8rem;
                color: black;
                font-weight: 600;
                text-align: right;
            }
            h3.card-label {
                font-family: 'Lato', sans-serif;
                font-size: 1.8rem;
                color: #808080;
            }
        }
    }
    .card-header-md {
        padding: 15px;
        font-size: 1rem;
        color: #222;
        background-color: #2cbaae;
    }
    .card-title-md {
        padding: 0px;
        margin: 0px;
        color: white;
        background-color: #2cbaae;
        margin-left: -10px;
        width: 105%;
    }
    .card-md.card-custom {
        background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background-repeat: repeat-x;
        padding: 20px 15px 20px 15px;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            color: white;
            font-weight: 600;
        }
        h2.card-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.9rem;
            color: white;
            border-radius: 5%;
            border: white solid 1px;
            background-color: #27a59b;
            padding: 2px;
            font-weight: 600;
        }
        h3.card-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3rem;
            color: white;
            padding: 2px;
            font-weight: 600;
        }
        p.p-custom {
            color: white;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 1.3rem;
            width: 40%;
            border-radius: 5%;
            text-align: center;
            padding: 2px;
            font-weight: 600;
            border: #f0b840 solid 1px;
            background-color: #f0b840;
        }
    }
    .item-md {
        //width: 100vw; // margin-left: -10px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        color: white;
        background-color: transparent;
        box-shadow: none;
    }
    ion-avatar img,
    ion-thumbnail img {
        display: block;
        border-radius: 50%;
        border: white solid 2px;
        display: inline;
    }
    ion-note {
        color: map-get($colors, primary);
        font-weight: normal;
    }
    .scroll-content {
        background: #eeeced;
    }
    [col-1] {
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        width: 8.33333%;
        max-width: 4%;
    }
    .button-custom {
        border: 0;
        background: transparent;
        font-family: inherit;
        font-style: inherit;
        font-variant: inherit;
        line-height: 1;
        text-transform: none;
        cursor: pointer;
        -webkit-appearance: button;
    }
    .custom-padding {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .btn-accept {
        background-color: #55bbd4;
        padding: 28px;
    }
    .btn-cancel {
        background-color: #2cbaae;
    }
    span.button-inner {
        text-transform: uppercase;
        font-size: 1.7rem;
        font-family: 'Open Sans', cursive;
        font-weight: 700;
    }
    /* -------------------------------- All the CSS needed for the timeline! -------------------------------- */
    /* -------------------------------- Paddings and margins -------------------------------- */
    /*Optional*/
    .bar-stable {
        background-color: #d9d9d9 !important;
    }
    .tabs {
        background-color: #d9d9d9 !important;
    }
    .icon-size-lg {
        font-size: 40px;
    }
    /*Timeline*/
    .pos-absolute-right {
        position: absolute;
        right: 8px;
    }
    .timeline {
        position: relative;
        margin: 15px 0 30px 0;
    }
    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: #afdcf8;
        left: 47px;
        margin-left: -10px;
        z-index: 1;
    }
    .timeline .timeline-thumb {
        border-radius: 500px;
        width: 60px;
        z-index: 2;
        position: absolute;
        left: 10px;
        border: 5px solid #CBD0D3;
    }
    .timeline .timeline-thumb.timeline-icon {
        height: 60px;
        text-align: center;
        color: white;
        font-size: 25px;
        padding-top: 7px;
    }
    .timeline .timeline-thumb.timeline-icon i {
        font-size: 28px;
        margin: 6px 0;
        display: block;
    }
    .timeline .timeline-item {
        margin-left: 72px;
        border-bottom: 1px solid #ccc;
        margin-top: 60px;
        padding-bottom: 8px;
    }
    .timeline .timeline-stats {
        position: relative;
        font-size: 12px;
        color: #7F8C8D;
    }
    .item-md p {
        overflow: inherit;
        margin: 20px 0 0 0;
        font-size: 1.4rem;
        padding-right: 20px;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
        text-align: center;
    }
    .item-md ion-icon[item-left],
    .item-md ion-icon[item-right],
    .item-md ion-icon[item-start],
    .item-md ion-icon[item-end] {
        margin-top: 8px;
        margin-bottom: 0;
        margin-left: 0;
    }
    .divider-title {
        background: #f2f2f2;
        padding: 16px 15px;
        align-content: center;
        justify-content: center;
        text-align: center;
        font-family: 'Lato', cursive;
        h2 {
            font-family: 'Lato', cursive;
            color: black;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .card-content-md {
        padding: 0px 16px 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    /* === Color Themes === */
    .text-muted {
        color: #6d6d72 !important;
    }
    .color-gray {
        color: #8e8e93 !important;
    }
    .color-red {
        color: #ff3b30 !important;
    }
    .bg-color-red {
        background-color: #ff3b30 !important;
    }
    .color-white {
        color: #ffffff !important;
    }
    .color-yellow {
        color: #ffcc00 !important;
    }
    .bg-color-yellow {
        background-color: #ffcc00 !important;
    }
    .color-green {
        color: #4cd964 !important;
    }
    .color-orange {
        color: #ff9500 !important;
    }
    .bg-color-orange {
        background-color: #ff9500 !important;
    }
    .color-blue {
        color: #007aff !important;
    }
    .bg-color-blue {
        background-color: #007aff !important;
    }
    .color-lightblue {
        color: #5ac8fa !important;
    }
    .bg-color-lightblue {
        background-color: #5ac8fa !important;
    }
    .color-bluegray {
        color: #607d8b !important;
    }
    .bg-color-bluegray {
        background-color: #607d8b !important;
    }
    .color-night {
        color: #2B1B17 !important;
    }
    .color-black {
        color: black !important;
    }
    .bg-color-white {
        background-color: #ffffff;
    }
    .bg-color-green {
        background-color: #4cd964 !important;
    }
    /*POSITIVE*/
    .bg-color-positive {
        background-color: #4a87ee !important;
    }
    /*CALM*/
    .bg-color-calm {
        background-color: #43cee6 !important;
    }
    /*BALANCED*/
    .bg-color-balanced {
        background-color: #66cc33 !important;
    }
    /*ENERGIZED*/
    .bg-color-energized {
        background-color: #f0b840 !important;
    }
    /*ASSERTIVE*/
    .bg-color-assertive {
        color: #ef4e3a !important;
    }
    /*ROYAL*/
    .bg-color-royal {
        background-color: #8a6de9 !important;
    }
    /*DARK*/
    .bg-color-dark {
        background-color: #444 !important;
    }
    /*End-of-timeline-CSS*/
    .item-md h4 {
        margin: 2px 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: normal;
    }
    p.custom-label {
        background-color: #e6e6e6;
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 50px;
        font-family: 'Lato', cursive;
        color: #4d4d4d;
        font-size: 1 rem;
        font-weight: bold;
    }
    .item-md p {
        overflow: inherit;
        margin: 10px 0 0 0;
        font-size: 1.7rem;
        padding-right: 10px;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
        text-align: left;
    }
}