page-promo-package {

  .toolbar-background-md {
    border-color: #008149;
    background: #008149;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
    }
        //content
    .content-md{
        color: white;
        background-color: #008149;
    }

}
