<!--
  Generated template for the HotelRoomtype page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Room Type</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <h5 class="custom-h5">Pick your room type</h5>

  <ion-card *ngFor="let itemroom of listroomtypes" (click)="setSelectedRoomAllo(itemroom)" style="height:150px">
    <ion-row>

      <ion-col style="padding: 0;">
        <div class="box">
          <div class="ribbon ribbon-top-left" *ngIf="itemroom.IsPromo == true"><span *ngIf="itemroom.IsPromo == true">PROMO</span></div>
          
          <img src="{{itemroom.ImageUrl}}" class="cover" *ngIf="itemroom.ImageUrl != null ;else other_content"/>
           <ng-template #other_content>
             <img src="assets/img/room-bali-hotel.jpg" class="cover" />
           </ng-template>
          </div>
      </ion-col>   

      
      <ion-col width-60>
        <div>
          <h2 style=" white-space: pre-wrap;">{{itemroom.Name}}</h2>
          <!--<h2>{{itemroom.Name}}</h2>-->
          <p style=" white-space: pre-wrap;">
            <ion-icon ios="ios-medal" md="ios-medal-outline" class="custom-pin"></ion-icon>{{itemroom.AccommodationType.Name}}</p>
          <!--<h3>{{itemroom.AccommodationType.Name}}</h3>-->
          <p style=" white-space: pre-wrap;">
            <ion-icon ios="ios-people" md="ios-people-outline" class="custom-pin"></ion-icon>{{itemroom.AccommodationType.Capacity}} Guest</p>
          <!--<h3>Capacity: {{itemroom.AccommodationType.Capacity}} Guest</h3>-->
          <div class="div-promo" *ngIf="itemroom.IsPromo == true">

            <h2 class="title-promo" *ngIf="itemroom.IsPromo == true">PROMO</h2>
            <h3 class="subtitle-promo" *ngIf="itemroom.IsPromo == true">Valid Until : {{itemroom.CutOffDate | date:'dd MMM yyyy'}} </h3>
            <h3 class="subtitle-promo" *ngIf="itemroom.IsPromo == true">Minimum Night : {{itemroom.MinDays}} Night</h3>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>