page-hotel-roomtype1 {
    $line-height: 1;
    $lines-to-show: 2;
    .opaque {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    .opaque .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .button-inner {
        text-transform: none;
        font-family: 'Open Sans', cursive;
        font-weight: 700;
        color: white;
        font-size: 4.2vw;
        letter-spacing: 2px;
        margin-top: 0px;
    }
    .searchbar-md .searchbar-input {
        padding: 6px 55px;
        height: auto;
        border-radius: 4%;
        font-family: 'Open Sans', cursive;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: black;
        background-color: #fff;
        background-position: 8px center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .two-line-title {
        color: white;
        display: block;
        line-height: .7em;
        font-size: 4vw;
        margin: 5px 0;
    }
    .slide-pager {
        min-height: 200px;
        height: auto;
        width: 100%;
        position: relative;
        .card-content {
            box-shadow: none;
            background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            right: 0;
            bottom: 0;
            font-size: 2em;
            font-weight: 900;
            text-align: left;
            left: 0;
            position: absolute;
            padding: 50px 5px 10px 5px;
        }
        .card-md h2 {
            font-weight: 600;
            font-family: 'Open Sans', cursive;
            color: white;
            display: block;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            /* Fallback for non-webkit */
            margin: 0 auto;
            letter-spacing: 1px;
            padding: 0px 10px 0px 10px;
            font-size: 3rem;
        }
        .card-md h3 {
            font-family: 'Open Sans', cursive;
            color: white;
            font-size: 1.7rem;
            letter-spacing: 1;
            font-weight: 600;
            padding: 0px 10px 0px 10px;
        }
    }
    .info {
        padding: 10px 15px;
        margin: 0px 0px;
        background-color: white;
        h2 {
            font-weight: 600;
            font-family: 'Open Sans', cursive;
            color: #488aff;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 300px;
            height: 1rem *$line-height*$lines-to-show;
            /* Fallback for non-webkit */
            margin: 0;
            font-size: 1.8rem;
            line-height: $line-height;
            -webkit-line-clamp: 1;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        h3 {
            font-family: 'Open Sans', cursive;
            color: #55bbd4;
            font-size: 1.4rem;
            font-weight: 600;
        }
        .readmore {
            padding: 0px;
            .p-readmore {
                font-family: 'Open Sans', cursive;
                color: #808080;
                font-size: 1.4rem;
                font-weight: 600;
                margin: 5px 0px 0px 0px;
                display: -webkit-box;
                max-width: 600px;
                line-height: 1.5;
                text-align: justify;
                -webkit-line-clamp: 2;
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
                /* autoprefixer: on */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
        }
        .p-readless {
            font-family: 'Open Sans', cursive;
            color: #808080;
            font-size: 1.4rem;
            font-weight: 600;
            margin: 5px 0px 0px 0px;
            display: -webkit-box;
            max-width: 600px;
            line-height: 1.5;
            text-align: justify; //-webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    }
    .content {
        padding: 0px;
        margin: 0px 0px;
        background-color: #f9f9f9;
        .col {
            position: relative;
            padding: 0;
            width: 100%;
            height: 200px;
            margin: 0;
            min-height: 1px;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .box {
            position: relative;
            width: 95%;
            background: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        }
        /* common */
        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid #2980b9;
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 225px;
            padding: 8px 15px 8px 14px;
            background-color: #e82;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            color: #fff;
            font: 700 14px/1 'Lato', sans-serif;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            text-transform: uppercase;
            text-align: center;
        }
        /* top left*/
        .ribbon-top-left {
            top: -10px;
            left: -10px;
        }
        .ribbon-top-left::before,
        .ribbon-top-left::after {
            border-top-color: transparent;
            border-left-color: transparent;
        }
        .ribbon-top-left::before {
            top: 0;
            right: 0;
        }
        .ribbon-top-left::after {
            bottom: 0;
            left: 0;
        }
        .ribbon-top-left span {
            right: 0px;
            top: 20px;
            transform: rotate(-45deg);
        }
        ion-card img {
            display: block;
            width: 155px;
            height: 150px;
        }
        .cover {
            width: 100%;
            object-fit: fill;
        }
        ion-col[width-60] {
            -webkit-flex: 0 0 60%;
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
            padding-left: 0px;
        }
        ion-icon {
            display: inline-block;
            font-size: 1.5em;
            color: white;
        }
        [col-8] {
            padding: 0px;
        }
        [col-4] {
            padding: 5px;
        }
        .custom-h5 {
            margin: 0;
            font-family: 'Open Sans', cursive;
            font-size: 4vw;
            font-weight: 500;
            padding: 15px 0 10px 12px;
            line-height: 1.5rem;
            color: #4d4d4d;
            background-color: #f2f2f2;
        }
        .card-md h2 {
            margin: 0;
            font-size: 4.4vw;
            color: #3498db;
            font-family: 'Open Sans', cursive;
            font-weight: 500;
            line-height: 2rem;
        }
        ion-col.col-custom {
            position: relative;
            padding: 0;
            width: 100%;
            margin: 0 0 0 0;
            min-height: 1px;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        ion-card {
            height: 200px;
            border-radius: 0;
            width: 94%;
            display: block;
            overflow: hidden;
            margin: 3vw;
        }
        ion-icon.custom-star {
            color: #ffcd25;
            font-size: 4vw;
        }
        ion-icon.custom-pin {
            color: #488aff;
            font-size: 4vw;
            padding-right: 2vw;
        }
        .card-md p {
            font-family: 'Open Sans', cursive;
            font-weight: 500;
            line-height: 4px;
            margin-left: 0vw;
            font-size: 4vw;
            color: #808080;
        }
        .div-promo {
            border: 1px solid #e82;
            border-radius: 5%; //background-color: #e82;
            margin-top: 2px;
            padding: 10px;
            opacity: .9;
            width: 100%;
        }
        h2.title-promo {
            color: #e82;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 4vw;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            text-transform: uppercase;
        }
        h3.subtitle-promo {
            color: #e82;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 3.4vw;
            line-height: 2rem;
            letter-spacing: 1px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        }
    }
    .slide-zoom {
        text-align: center;
        display: block;
        width: 100%;
        height: 200px;
    }
}