<!-- <ion-header>

  <ion-navbar>
    <ion-title>
      Hotel Details
       <span class="two-line-title" style="padding-left: 10px;">2 Guest(s)</span><span class="two-line-title">Aug 3 - Aug 4</span> 
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header no-border [class.opaque]="!showToolbar">
  <!--Navbar-->
  <ion-navbar color="primary">
    <!--Toggle title-->
    <ion-title [hidden]="!showToolbar">
      Hotel Details
    </ion-title>
  </ion-navbar>
</ion-header>

<div class="scroll-content" style="padding-top:0px">
  <ion-content fullscreen="true" style="padding-top: 0px;" (ionScroll)="onScroll($event)">
    <div class="slide-pager" style="margin-left: -18px; width:110%; overflow: visible; margin-top: -10px;">
      <ion-slides pager="true" loop="true" speed="1000">
        <ion-slide>
          <ion-card>
            <img src="http://d37j6posq2fmgz.cloudfront.net/resources/1732,5,1,6,3,0/-4601-/20160816213022/lagoon-pool.jpeg" style="height:250px; width:100%;"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="http://static.asiawebdirect.com/m/bangkok/hotels/bali-indonesia-com/swiss-belhotel-bay-view-villas/hotelBanner/home.jpg"
              style="height:250px; width:100%;" />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="http://dbijapkm3o6fj.cloudfront.net/resources/1062,1004,1,6,4,0,600,450/-4601-/20160818233019/swiss-belhotel-petitenget.jpeg"
              style="height:250px; width:100%;" />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="http://dbijapkm3o6fj.cloudfront.net/resources/3970,1004,1,6,4,0,600,450/-4601-/20150812150125/air.jpeg" style="height:250px; width:100%;"
            />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="info">
      <h2>{{hotel.Name}}</h2>
      <p>
        <ion-icon ios="ios-star" md="md-star" class="custom-star" *ngFor="let item of getNumber(hotel.AccommodationRating.Id )"></ion-icon>
      </p>
      <p>
        <ion-icon ios="ios-pin" md="md-pin" class="custom-pin"></ion-icon>
        {{hotel.Address}}
      </p>
      <div class="readmore" *ngIf="read == false" >
        <p class="p-readmore">
          <ion-icon ios="ios-information-circle" md="md-information-circle" class="custom-pin"></ion-icon>
          {{hotel.Desc}}
        </p>
        <a (click)="toggleDetails(read)">Read More</a>
      </div>

      <p class="p-readless" *ngIf="read == true">
        <ion-icon ios="ios-information-circle" md="md-information-circle" class="custom-pin"></ion-icon>
        {{hotel.Desc}} <a (click)="toggleDetails(read)">Read Less</a>
      </p>
    </div>

    <div class="content">
      <h5 class="custom-h5">Pick your room type</h5>
      <ion-card *ngFor="let itemroom of listroomtypes" (click)="setSelectedRoomAllo(itemroom)" style="height:150px">
        <ion-row>
          <ion-col style="padding: 0;">
            <div class="box">
              <div class="ribbon ribbon-top-left" *ngIf="itemroom.IsPromo == true"><span *ngIf="itemroom.IsPromo == true">PROMO</span></div>
              <img src="{{itemroom.ImageUrl}}" class="cover" *ngIf="itemroom.ImageUrl != null ;else other_content" />
              <ng-template #other_content>
                <img src="assets/img/room-bali-hotel.jpg" class="cover" />
              </ng-template>
            </div>
          </ion-col>

          <ion-col width-60>
            <div>
              <h2>{{itemroom.Name}}</h2>
              <!--<h2>{{itemroom.Name}}</h2>-->
              <p style="margin-top: 4vw;">
                <ion-icon ios="ios-medal" md="md-medal" class="custom-pin"></ion-icon>{{itemroom.AccommodationType.Name}}</p>
              <!--<h3>{{itemroom.AccommodationType.Name}}</h3>-->
              <p>
                <ion-icon ios="ios-people" md="md-people" class="custom-pin"></ion-icon>{{itemroom.AccommodationType.Capacity}} Guest</p>
              <!--<h3>Capacity: {{itemroom.AccommodationType.Capacity}} Guest</h3>-->
              <div class="div-promo" *ngIf="itemroom.IsPromo == true">
                <h2 class="title-promo" *ngIf="itemroom.IsPromo == true">PROMO</h2>
                <h3 class="subtitle-promo" *ngIf="itemroom.IsPromo == true">Valid Until : {{itemroom.CutOffDate | date:'dd MMM yyyy'}} </h3>
                <h3 class="subtitle-promo" *ngIf="itemroom.IsPromo == true">Minimum Night : {{itemroom.MinDays}} Night</h3>
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-content>
</div>