<!--
  Generated template for the HotelRoomtype page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Room Type</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h5>Pick your room type</h5>

  <ion-card *ngFor="let itemroom of listroomtypes" (click)="setSelectedRoomAllo(itemroom)">
<ion-row>
  <ion-col *ngIf="itemroom.ImageUrl != '' ;else other_content"><img src="{{itemroom.ImageUrl}}"/></ion-col>
  <ng-template #other_content><ion-col><img src="assets/img/no-image.jpg"/></ion-col></ng-template>
  <ion-col width-60>
    <div >
    <h2>{{itemroom.Name}}</h2>
    <h3>{{itemroom.AccommodationType.Name}}</h3>
    <h3>Capacity: {{itemroom.AccommodationType.Capacity}} Guest</h3>
    <h2 *ngIf="itemroom.IsPromo == true" >PROMO</h2>
    <h3 *ngIf="itemroom.IsPromo == true" >Valid Until : {{itemroom.CutOffDate  | date:'dd MMMM yyyy'}} </h3>
    <h3 *ngIf="itemroom.IsPromo == true" >Minimum Night : {{itemroom.MinDays}} Night</h3>
    
    </div>
    </ion-col>
</ion-row>
</ion-card>
</ion-content>
