page-hotel-roomtype {

    ion-card img {
        display: block;
        width: 155px;
        height: 120px;
    }

   ion-col[width-60] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    }
}
