page-itenerary-builder {
      .toolbar-background-md {
    border-color: #008149;
    background: #008149;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
    }

    .toolbar-title-md {
    color: #f9f7f7;
    }



  .label-md[stacked] {
    font-size: 1.9rem;
    color: grey;
  }

  .text-input-md {
    margin: 13px 8px 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    color: black;
    font-size: large;
}
.text-input[disabled] {
    opacity: 1;
}


.label-md {
    margin: 13px 8px 13px 8px;
    color: black;
    font-size: large;
}


.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid gray;
}

    ion-input, ion-textarea {
        border-bottom: 1px solid gray;
    }
      .datetime-text {
        font-size: large;
        color: black;
      }

      .alert-md .alert-title {
        text-align: center;
      }
      
      .modal-wrapper {
        position: absolute;
        top: calc(50% - (500px/2));
        left: calc(50% - (500px/2));
        width: 500px;
        height: 500px;
      }
}
