<ion-header>
  <ion-navbar>
    <ion-title>Ready to Book Package</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <h5 class="custom-h5" *ngIf="listReadyPackage.length == 0">PACKAGES IS NOT AVAILABLE</h5>
  <h5 class="custom-h5" *ngIf="listReadyPackage.length > 0">AVAILABLE PACKAGES</h5>
  <div class="div-custom">
    <ion-card *ngFor="let fix of listReadyPackage">
      <ion-row>
        <ion-col style="padding: 0;">
          <div class="box">
            <div class="ribbon ribbon-top-left" (click)="showDetails(fix.Id)"><span>Views Details</span></div>
            <img src="{{fix.City.ImageUrl}}" class="img-custom" />
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <h2>{{fix.Title}}</h2>
        <h4>{{fix.Title}}</h4>
      </ion-card-content>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
                    <ion-icon ios="ios-time" md="md-time" class="custom-color"></ion-icon><h3>{{fix.StartDate | date : 'dd MMM'}} - {{fix.EndDate | date:'dd MMM yyyy'}}</h3>
                  </button>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4-custom>
          <button ion-button icon-left secondary [outline]=false class="custom-button-pick" (click)="pickPackage()"><div style="font-size: 3.5vw;">Pick</div></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <h5 class="custom-h5">CREATE YOUR OWN PACKAGES</h5>
  <div class="div-custom">
    <ion-list>
      <ion-item (click)="customPackage()">
        <ion-avatar item-start>
          <ion-icon ios="ios-add-circle" md="md-add-circle" class="custom-add"></ion-icon>
        </ion-avatar>
        <h2><strong>Custom Package</strong></h2>
        <h4 class="custom-h4">Start with an empty package and create your own itinerary.</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>