page-input-travellers {
    .vertical-align-content>* {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0rem;
    }
    .text-input-md {
        font-size: large;
    }
    button {
        border: 0;
        background: transparent;
    }
    .ion-md-remove-circle:before {
        font-size: 2.5rem;
        color: #55bbd4;
    }
    .ion-md-add-circle:before {
        font-size: 2.5rem;
        color: #2cbaae;
    }
    ion-row.row-label {
        text-align: left;
        align-content: left;
    }
    ion-row.row-content {
        text-align: center;
        align-content: center;
    }
    .scroll-content {
        padding: 10px;
    }
    .custom-div {
        border: 1px solid #f2f2f2;
        border-radius: 4%;
        padding: 5px;
        background-color: white;
    }
    [col-12] {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        background-color: #f8f8ff;
    }
    ion-label.label.label-md[stacked] {
        font-family: 'Open Sans', cursive;
        font-size: 1.6rem;
        color: black;
        font-weight: 500;
        text-transform: none;
    }
    [col-5] {
        -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        width: 41.66667%;
        max-width: 41.66667%;
        margin-top: 10px;
    }
}