page-custome-package {
    //header
    .toolbar-background-md {
    border-color: #008149;
    background: #008149;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
    }

    //content
    .content-bgn{
        background: #008149;
    }

    //ends
    ion-card {
      position: relative;
      text-align: center;
    }
    .button-clear-md:hover:not(.disable-hover) {
        background-color: rgba(158, 158, 158, 1); 
    }

    .button-md:hover:not(.disable-hover) {
        background-color: transparent; 
    }


        .toolbar-title{
          text-align: right;
                .button-inner{
                  font-size: large;
                  color: white;
                }

                button-clear-md.activated {
                  background-color: rgba(158, 158, 158, 1);
                  box-shadow: none;
              }
              .button-clear-md .button-effect {
              background-color:transparent;
              }

              .button-clear-md-dark.activated {
                  background-color: transparent;
                  box-shadow: none;
                }
          }
      



  }
