$SIDEMENU_TOP: #00a497;
$SIDEMENU_BOTTOM: #2cbaae;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
page-filter-hotel1 {
    .custom-row {
        align-content: center;
        text-align: center;
        align-self: flex-end;
        width: 100%;
    }
    .custom-button {
        padding: 1rem;
        border-radius: 10px;
    }
    .col-3-custom {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        width: 25%;
        max-width: 20%;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #4fd2c2;
            ion-icon {
                font-size: 30px;
            }
        }
    }
    .card-header-md {
        text-align: center;
        padding: 15px;
        font-size: 1rem;
        background: #f9f9f9;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 2px;
        color: #4fd2c2;
        font-weight: 600;
    }
    .row-custom {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-self: center;
        align-content: center;
        text-align: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .scroll-content {
        background: #eeeced;
    }
    .card-header-md+.card-content-md,
    .card-md .item+.card-content-md {
        padding-top: 0;
        background: #ffffff;
    }
    .card {
        border-radius: 10px;
    }
    
}