<ion-header>

  <ion-navbar>
    <ion-title>Choose Transport</ion-title>
  </ion-navbar>
  <ion-row center style="text-align:center;background:#4fd2c2;">
    <ion-col col-4 (click)="filtertransTapped($event)">
      <button ion-button icon-left clear>
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
        <div>Filter</div>
      </button>
    </ion-col>
    <ion-col col-8>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-header>



<ion-content fullscreen>
<!--<h5 class="custom-h5" *ngIf="hotels?.length == 0">Transportation not found</h5>-->
<h5 class="custom-h5">Showing result transportation in destination</h5>
<ion-card *ngFor="let trans of transport" (click)="setSelectedTransport(trans)">
  <ion-row>
  <ion-col class ="col-custom" style="padding: 0;" *ngIf="trans.ImageUrl != '' ;else other_content"><img src="{{trans.ImageUrl}}"/></ion-col>
  <ng-template #other_content><ion-col class ="col-custom"><img src="assets/img/elf-long.jpg" class="cover"/></ion-col></ng-template>
  <ion-col width-60>
    <div >
    <h2>{{trans.Name}}</h2>
    <h3><ion-icon ios="ios-bus" md="ios-bus-outline" class="custom-bus"></ion-icon>{{trans.TransportationSeatTypeName}} Seater </h3>
    <h3><ion-icon ios="ios-star" md="ios-star-outline" class="custom-bus"></ion-icon>{{trans.TransportationRatingName}} Class</h3> 
    <!--<h3>Rating: {{trans.TransportationRatingName}}</h3>-->
    <!--<p style=" white-space: pre-wrap;"> <ion-icon ios="ios-pin" md="ios-pin-outline" class="custom-pin"></ion-icon>Klungkung, Bali, Indonesia</p> 
    <p style=" white-space: pre-wrap;" > <ion-icon ios="ios-list-box" md="ios-list-box-outline" class="custom-pin" ></ion-icon>Wifi, AC, TV, Coffee </p>-->
    </div></ion-col>
</ion-row>
</ion-card>

</ion-content>