    page-list-transport1 {
        ion-card img {
            display: block;
            width: 155px;
            height: 150px;
        }
        .cover {
            width: 100%;
            object-fit: fill;
        }
        ion-col[width-60] {
            -webkit-flex: 0 0 60%;
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
            padding-left: 10px;
        }
        ion-icon {
            display: inline-block;
            font-size: 1.5em;
            color: white;
        }
        [col-8] {
            padding: 0px;
        }
        [col-4] {
            padding: 5px;
        }
        .button-inner {
            text-transform: none;
            font-family: 'Open Sans', cursive;
            font-weight: 700;
            color: white;
            font-size: 4.2vw;
            letter-spacing: 2px;
            margin-top: 0px;
        }
        .searchbar-md .searchbar-input {
            padding: 6px 55px;
            height: 30px;
            border-radius: 5px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 3rem;
            color: #141414;
            background-color: #fff;
            background-position: 8px center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        .searchbar-md .searchbar-search-icon {
            //background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…84,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
            top: 5px;
            left: 16px;
            width: 21px;
            height: 21px;
        }
        .custom-h5 {
            margin: 0;
            font-family: 'Open Sans', cursive;
            font-size: 4vw;
            font-weight: 500;
            padding: 15px 0 10px 12px;
            line-height: 1.5rem;
            color: #4d4d4d;
            background-color: #f9f9f9;
        }
        .card-md h2 {
            margin: 0;
            font-size: 4.4vw;
            color: #3498db;
            font-family: 'Open Sans', cursive;
            font-weight: 500;
            line-height: 2rem;
        }
        ion-col.col-custom {
            position: relative;
            padding: 0;
            width: 100%;
            margin: 0 0 0 0;
            min-height: 1px;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        ion-card {
            height: 200px;
            border-radius: 5%;
            display: block;
            overflow: hidden;
            margin: 10px 0 10px 0;
        }
        ion-icon.custom-star {
            color: #ffcd25;
            font-size: 4vw;
            margin-bottom: 10px;
        }
        ion-icon.custom-pin {
            color: #808080;
            padding-right: 5px;
            font-size: 4vw;
        }
        ion-icon.custom-bus {
            color: #808080;
            padding-right: 5px;
            font-size: 4vw;
        }
        ion-icon.custom-info {
            color: #3498db;
            font-size: 4.4vw;
        }
        .card-md p {
            font-family: 'Open Sans', cursive;
            font-weight: 500;
            margin: 0 0 2px;
            font-size: 4vw;
            padding-right: 10px;
            color: #808080;
            display: -webkit-box;
            width: 200px;
            /* Fallback for non-webkit */
            line-height: 1.5;
            -webkit-line-clamp: 1;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        .col {
            padding: 5px 5px 0px 0px;
        }
        ul {
            padding: 0px;
            &.rating li {
                padding: 5px 10px !important;
                background: none;
                color: red;
                ion-icon {
                    font-size: 30px;
                }
            }
        }
        .button-md {
            overflow: hidden;
            margin: 0;
            padding: 0;
            border-radius: 2px;
            font-size: 2vw;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
        }
    }