page-fixed-package {
    $line-height: 1;
    $lines-to-show: 1;
    .scroll-content {
        padding-top: 0px;
    } // ion-scroll {
    //     width: 100%;
    //     height: 300px;
    //     white-space: nowrap;
    //      ::-webkit-scrollbar {
    //         display: none;
    //     }
    // }
    // .info {
    //     padding: 10px 15px;
    //     margin: 10px 0px;
    //     background-color: #FFFFFF;
    // }
    // .photos {
    //     margin-bottom: 10px;
    //     img {
    //         margin: 0px 5px;
    //         display: inline-block;
    //         width: 150px;
    //         height: 150px;
    //         object-fit: cover;
    //     }
    // }
    // .reviews,
    // .photos {
    //     background-color: transparent;
    //     padding: 10px 0px;
    //     h3 {
    //         margin-top: 0px;
    //         padding-left: 15px;
    //         margin-bottom: 0px;
    //     }
    // }
    // .active {
    //     color: red;
    // }
    ion-card {
        background-color: #fff;
        margin: 0;
        margin-bottom: 25px;
        position: relative;
    }
    ion-card:last-of-type {
        margin-bottom: 0 !important;
    }
    ion-card.card {
        box-shadow: 2px;
        background: rgba(0, 0, 0, 0.5);
        float: left;
        /* important */
        position: relative;
        /* important(so we can absolutely position the description div */
    }
    .custom-label {
        background-color: #e6e6e6;
        margin: 0;
        text-align: left;
        padding: 10px;
        font-family: 'Lato', cursive;
        color: #4d4d4d;
        font-size: 1 rem;
        font-weight: bold;
    }
    .card-title-md {
        margin-bottom: 10px;
        border: medium none;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 2.4rem;
        line-height: 1.2;
        color: white;
    }
    .card-md h2 {
        font-weight: 600;
        font-family: 'Open Sans', cursive;
        color: white;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        height: 1.5rem *$line-height*$lines-to-show;
        /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: 1.5rem;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-md h3 {
        font-family: 'Quicksand', cursive;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .card-content {
        box-shadow: none;
        background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        right: 0;
        display: block;
        bottom: 0;
        font-size: 2em;
        font-weight: 900;
        text-align: left;
        left: 0;
        position: absolute;
        padding: 20px 5px 10px 5px;
    }
    ion-item {
        background-color: #fff;
        .label-title-item {
            color: red;
        }
    }
    ion-card img {
        display: block;
        width: 150px;
        height: 250px;
    }
    .cover-custom {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
            display: inline-block;
        }
    }
}