<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
    </button>
    <ion-title>Where are you going?</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="Search a location..." (ionInput)="searchLocationDB($event)"></ion-searchbar>
</ion-header>


<ion-content fullscreen>
  
  <h5 class="custom-h5">POPULAR DESTINATION</h5>
<ion-list>
  <ion-item *ngFor="let loc of locations" (click)="setSelectedLocation(loc)">
     <ion-avatar item-start *ngIf="loc.ImageUrl == ''">
      <img src="assets/img/locationIcon.png">
    </ion-avatar>
    <ion-avatar item-start *ngIf="loc.ImageUrl != ''">
      <img src="{{loc.ImageUrl}}">
    </ion-avatar>
    <h2>{{loc.Name}}</h2>
    <p>{{loc.Region.Name }}, {{loc.Country.Name}}</p>
  </ion-item>
</ion-list>
</ion-content>
