page-readypackage-destination {
    .custom-h5 {
        margin: 0;
        font-family: 'Open Sans', cursive;
        font-size: 4vw;
        font-weight: 500;
        padding: 2vw 2vw;
        line-height: 1.5rem;
        color: #4d4d4d;
        background-color: #f9f9f9;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    
}