<!--
  Generated template for the ListHotel page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Choose Hotel</ion-title>
  </ion-navbar>
  <ion-row center style="text-align:center; background:#00a497;" >
    <ion-col (click)="filterhotelTapped($event)"><ion-icon ios="ios-funnel" md="md-funnel">  Filter</ion-icon> </ion-col>
    <ion-col width-60><ion-searchbar (ionInput)="getItems($event)"></ion-searchbar></ion-col>
  </ion-row>
</ion-header>


<ion-content padding>
<h5 *ngIf="hotels?.length == 0">Hotels not found</h5>
<h5 *ngIf="hotels?.length > 0">Show result hotels in destination</h5>
<ion-card  *ngFor="let hotel of hotels"  (click)="setSelectedHotel(hotel)">
<ion-row>
  <ion-col *ngIf="hotel.ImageUrl != '' ;else other_content"><img src="{{hotel.ImageUrl}}"/></ion-col>
  <ng-template #other_content><ion-col><img src="assets/img/no-image.jpg"/></ion-col></ng-template>
  <ion-col width-60>
    <div >
    <h2>{{hotel.Name}}</h2>
    <h3>Rating: {{hotel.AccommodationRating.Name}}</h3>
    <p style=" white-space: pre-wrap;">Address: {{hotel.Address}}</p> 
    <p style=" white-space: pre-wrap;" >Facilities: <span *ngFor="let facilities of hotel.ProfileFacilities ;let i = index">{{facilities.Name}}<span *ngIf=" hotel.ProfileFacilities.length > 1 && i  != hotel.ProfileFacilities.length - 1 ">,</span> </span></p>
    </div></ion-col>
</ion-row>
</ion-card>


</ion-content>
