page-list-hotel1 {
    ion-card img {
        display: block;
        width: 155px;
        height: 150px;
    }

    .cover {
        width: 100%; 
        object-fit: fill;
    }
    ion-col[width-60] {
        -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        padding-left: 10px;
    }
    ion-icon {
        display: inline-block;
        font-size: 1.5em;
        color: white;
    }
    [col-8] {
        padding: 0px;
    }
    [col-4] {
        padding: 5px;
    }
    .button-inner {
        text-transform: none;
        font-family: 'Open Sans', cursive;
        font-weight: 700;
        color: white;
        font-size: 4.2vw;
        letter-spacing: 2px;
        margin-top: 0px;
    }
    .searchbar-md .searchbar-input {
        padding: 6px 55px;
        height: auto;
        border-radius: 4%;
        font-family: 'Open Sans', cursive;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: black;
        background-color: #fff;
        background-position: 8px center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .custom-h5 {
        margin: 0;
        font-family: 'Open Sans', cursive;
        font-size: 4vw;
        font-weight: 500;
        padding: 15px 0 10px 12px;
        line-height: 1.5rem;
        color: #4d4d4d;
        background-color: #f2f2f2;
    }
    .card-md h2 {
        margin: 0;
        font-size: 4.4vw;
        color: #3498db;
        font-family: 'Open Sans', cursive;
        font-weight: 500;
        line-height: 2rem;
    }
    ion-col.col-custom {
        position: relative;
        padding: 0;
        width: 100%;
        margin: 0 0 0 0;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    ion-card {
        height: 200px;
        border-radius: 5%;
        display: block;
        overflow: hidden;
        margin: 10px 0 10px 0;
    }
    ion-icon.custom-star {
        color: #ffcd25;
        font-size: 4vw;
        margin-bottom: 10px;
    }
    ion-icon.custom-pin {
        color: #808080;
        padding-right: 5px;
        font-size: 4vw;
    }
    ion-icon.custom-info {
        color: #3498db;
        font-size: 4.4vw;
    }
    .card-md p {
        font-family: 'Open Sans', cursive;
        font-weight: 500;
        margin: 0 0 2px;
        font-size: 4vw;
        color: #808080;
    }
    .col {
        padding: 5px 5px 0px 0px;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: red;
            ion-icon {
                font-size: 30px;
            }
        }
    }
    .button-md {
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        font-size: 2vw;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
}