<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-list radio-group>
    <div *ngFor="let bookdetails of BookingDetailSum" class="selection" style="margin-left: -10px; width:105%; overflow: visible;">
      <ion-card class="card-custom" style="top:0; margin-top:0px; margin-bottom:0px">
        <ion-row>
          <ion-col col-8>
            <h2>{{bookdetails?.Title}}</h2>
            <p class="p-custom" *ngFor="let bookdetails of BookingDetailSum">From {{bookdetails?.StartDate | date:'dd MMM'}} - {{bookdetails?.EndDate | date:'dd MMM yyyy'}}</p>
          </ion-col>
          <ion-col col-4>
            <h2 class="card-title" style="text-align: right;">USD <span *ngFor="let bookdetails of BookingDetailSum">{{bookdetails?.TourTotalPrice | number:'.0'}}</span>.-</h2>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <p class="label-custom" style="font-size: 3.8vw;">
      Select your payment method.
    </p>

    <div class="custom-div">
      <ion-row class="row-label">
        <ion-col col-10>
          <h2>Wallet</h2>
          <p class="custom-label">Current balance: <strong>USD {{companyInfo?.Balance  | number:'.0'}}</strong></p>
        </ion-col>
        <ion-col class="col2-custom">
          <ion-radio (click)="setPay('deposit')" value="deposit" item-end></ion-radio>
        </ion-col>
      </ion-row>
    </div>

    <div class="custom-div">
      <ion-row class="row-label">
        <ion-col col-4>
          <ion-avatar item-start>
            <img src="assets/img/visa.png" style="width:100px; height: 50px;">
          </ion-avatar>
        </ion-col>
        <ion-col col-6>
          <h2>Credit Card</h2>
          <p class="custom-label">**** **** **** 7281</p>
        </ion-col>
        <ion-col class="col2-custom">
          <ion-radio (click)="setPay('card')" value="card" item-end></ion-radio>
        </ion-col>
      </ion-row>
    </div>

    <div class="custom-div" *ngIf="Status=='confirm'">
      <ion-row class="row-label">
        <ion-col col-10>
          <h2>Pay Later</h2>
          <p class="custom-label" *ngFor="let bookdetails of BookingDetailSum">The booking will be on hold until <strong>{{bookdetails?.ExpiredOn | date:'dd MMM yyyy'}}</strong></p>
        </ion-col>
        <ion-col class="col2-custom">
          <ion-radio (click)="setPay('hold')" value="hold" item-end></ion-radio>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>


<ion-footer>
  <button ion-button style="margin-top: 0px;margin-bottom: 0px;" (click)="payTour($event)" full>Continue</button>
</ion-footer>