    // http://ionicframework.com/docs/v2/theming/
    // App Global Sass
    // --------------------------------------------------
    // Put style rules here that you want to apply globally. These
    // styles are for the entire app and not just one component.
    // Additionally, this file can be also used as an entry point
    // to import other Sass files to be included in the output CSS.
    //
    // Shared Sass variables, which can be used to adjust Ionic's
    // default Sass variables, belong in "theme/variables.scss".
    //
    // To declare rules for a specific mode, create a child rule
    // for the .md, .ios, or .wp mode classes. The mode class is
    // automatically applied to the <body> element in the app.
    @import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
    @import url('https://fonts.googleapis.com/css?family=Quicksand');
    @import url('https://fonts.googleapis.com/css?family=Lato');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
    .ios,
    .md {
        ul {
            list-style-type: none;
        }
        .content-bgn {
            background: #f9f9f9;
        }
        .scroll-content {
            background: #f9f9f9;
        }
        page-app {
            .header-menu-user {
                min-height: 160px;
                .toolbar-background-md {
                    border-color: #4fd2c2;
                    background: #4fd2c2;
                }
                .toolbar-title-md {
                    padding: 0 12px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 4vw;
                    font-weight: 600;
                    color: white;
                    text-align: center;
                }
            }
            .item-md ion-icon[item-left]+.item-inner,
            .item-md ion-icon[item-left]+.item-input,
            .item-md ion-icon[item-start]+.item-inner,
            .item-md ion-icon[item-start]+.item-input {
                margin-left: 4px;
            }
            .item-md h2 {
                margin: 2px 0;
                font-size: 4.6vw;
                font-weight: 500;
            }
            .item-md .item-button {
                padding: 0 .6em;
                height: 6vw; //font-size: 1.2rem;
            }
            ion-icon.custom-font {
                color: #4fd2c2;
                font-size: 2.6rem;
            }
            p.custom-text {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                color: black;
                text-align: left;
            }
        }
        page-login .scroll-content {
            background: transparent;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }
        page-register .scroll-content {
            background: transparent;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }
        page-filter-hotel1 {
            .button-clear-md {
                border-color: transparent;
                color: #a6a6a6;
                background-color: transparent;
                padding: 0px;
                box-shadow: none;
                opacity: 1;
            }
            .button-outline-md {
                border-width: 1px;
                border-style: solid;
                border-color: #a6a6a6;
                color: #a6a6a6;
                background-color: transparent;
                box-shadow: none;
            }
        }
        page-daily-program {
            .scroll-content {
                background: white;
            }
        }
        page-confirm-booking span.button-inner {
            text-transform: none;
            font-size: 1.4rem;
            font-family: 'Open Sans', cursive;
            font-weight: 700;
        }
        page-itenerary-builder {}
        page-fixed-package {}
        .searchbar-md {
            padding: 8px;
            background: #4fd2c2;
            font-family: 'Open Sans', sans-serif;
        }
        .toolbar-background-md {
            border-color: #4fd2c2;
            background: #4fd2c2;
        }
        .bar-button-default-md,
        .bar-button-clear-md-default,
        .bar-button-md-default {
            color: #ffffff;
            background-color: transparent;
        }
        ion-navbar.toolbar {
            min-height: 13vw;
        }
        .toolbar-title-md {
            color: white;
            font-family: 'Open Sans', cursive;
            font-size: 4.8vw;
            font-weight: 600;
        }
        .tab-text {
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 6vw;
            font-weight: 400; // font-size: 2rem;
            // font-weight: 700;
        }
        .back-button-icon-md {
            text-align: left;
            text-align: start;
            margin: 0;
            padding: 0 6px;
            font-size: 5vw;
            font-weight: normal;
            color: white;
        }
        button.back-button {
            color: red;
        }
        ion-icon.custom-color {
            color: #4fd2c2;
        }
        ion-label.label.label-md[stacked] {
            font-family: 'Open Sans', cursive;
            font-size: 4vw;
            color: grey;
            font-weight: 500;
            text-transform: none;
            margin: 0;
        }
        .button-inner {
            text-transform: none;
            font-family: 'Open Sans', cursive;
            font-weight: 700;
        }
        .label-md {
            font-family: 'Open Sans', cursive;
            font-size: 4vw;
            color: black;
            font-weight: 500;
        }
        .tabs-md .tabbar {
            border-color: #4fd2c2;
            background: #4fd2c2;
        }
        .tab-button[aria-selected=true] {
            // text-decoration: underline !important;
            font-family: 'Open Sans', sans-serif;
            color: blue;
            font-size: 30px;
            font-weight: 400;
            border-style: solid;
            border-bottom: 1.5px solid #f5f5ef;
        }
        .tabs-md .tab-button-text {
            font-family: 'Open Sans', sans-serif;
            font-size: 3.8vw;
            font-weight: 700;
            color: white;
        }
        ion-tab {
            font-size: 90px;
            color: yellow;
        }
        .tabs-md .tabbar {
            background: #4fd2c2;
        }
        .line-break {
            overflow: inherit;
            text-overflow: inherit;
            white-space: normal;
        }
        .text-input[disabled] {
            opacity: 1;
        }
        .cover {
            width: 100%;
            object-fit: cover;
        } // Datetime
        .alert-md .alert-title {
            font-size: 5vw;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: white;
            background-color: #4fd2c2;
            padding: 3vw;
            font-weight: 600;
        }
        .alert-md .alert-head {
            text-align: left;
            text-align: start;
            padding: 0;
            margin-bottom: 3vw;
        }
        .calendar[_ngcontent-c1] .day.selected[_ngcontent-c1],
        .calendar[_ngcontent-c1] .day.selected[_ngcontent-c1]:hover,
        .calendar[_ngcontent-c1] .day.selected.activated[_ngcontent-c1] {
            background-color: #4fd2c2;
            color: white;
            border-radius: 5px;
            font-weight: 600;
        }
        .calendar[_ngcontent-c1] .day.today[_ngcontent-c1] {
            background-color: #e4e4e4;
            border-radius: 5px;
        }
        input[_ngcontent-c1],
        select[_ngcontent-c1] {
            width: 100%;
            height: 100%;
            max-width: none;
            text-align: center;
            padding: .1em 5px 0;
            font-family: 'Open Sans', sans-serif;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            border: 1px solid #488aff;
            border-radius: 5px;
        }
        .alert-button-group[_ngcontent-c0] {
            flex-shrink: 0;
            color: white;
            background-color: transparent;
        }
        .alert-md .alert-button {
            text-align: right;
            text-align: end;
            position: relative;
            overflow: hidden;
            margin: 0 8px 0 0;
            padding: 10px;
            border-radius: 2px;
            font-weight: 500;
            text-transform: uppercase;
            color: #4fd2c2;
            background-color: transparent;
        }
        .alert-md .alert-message {
            max-height: 240px;
            font-size: 4vw;
        }
        .alert-md .alert-message,
        .alert-md .alert-input-group {
            padding: 5vw;
            color: rgba(0, 0, 0, 0.5);
        }
        .calendar[_ngcontent-c1] .day[_ngcontent-c1],
        .calendar[_ngcontent-c1] .weekday[_ngcontent-c1] {
            padding: 5px 5px;
            font-family: 'Open Sans', sans-serif;
        }
    }