// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');
page-app {
    .header-menu-user {
        min-height: 200px;
        .toolbar-background-md {
            border-color: #00a497;
            background: #00a497;
        }
        .toolbar-title-md {
            padding: 0 12px;
            font-family: 'Quicksand', sans-serif;
            font-size: 2rem;
            font-weight: 600;
            color: white;
            text-align: center;
        }
    }
}

.searchbar-md {
    padding: 8px;
    background: #00a497;
    font-family: 'Quicksand', sans-serif;
}

.toolbar-background-md {
    border-color: #00a497;
    background: #00a497;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #00a497, #000000);
        opacity: .1;
    }
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}

.toolbar-title-md {
    color: white;
    font-family: 'Quicksand', cursive;
    font-size: 2rem;
    font-weight: 600;
} 
// //header
// .toolbar-background-md {
// border-color: #00a497;
// background: #00a497;
// }
// .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
// color: #ffffff;
// background-color: transparent;
// }
//content
.content-bgn {
    background: #f2f2f2;
}

.scroll-content{
    background: #f2f2f2;
}

page-login .scroll-content {
    background: transparent;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.tab-text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400; // font-size: 2rem;
    // font-weight: 700;
}

ion-label.label.label-md[stacked] {
    font-family: 'Quicksand', cursive;
    font-size: 1.9rem;
    color: black;
    font-weight: 500;
}

.button-inner{
    text-transform: none;
    font-family: 'Quicksand', cursive;
    font-weight: 700;
}

.label-md {
    font-family: 'Quicksand', cursive;
    font-size: 1.9rem;
    color: black;
    font-weight: 900;
}

.tabs-md .tabbar {
    border-color: #00a497;
    background: #00a497;
}

.tab-button[aria-selected=true] {
    // text-decoration: underline !important;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
    border-style: solid;
    border-bottom: 1.5px solid #f5f5ef;
}

.tabs-md .tab-button-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

ion-tab {
    font-size: 90px;
}

.tabs-md .tabbar {
    background: #00a497;
}