$SIDEMENU_TOP: #00a497;
$SIDEMENU_BOTTOM: #2cbaae;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
page-daily-details {
    .opaque {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    .opaque .toolbar-background {
        background-color: transparent;
        border: none;
    }
    ion-card.card {
        box-shadow: 2px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        float: left;
        /* important */
        position: relative;
        /* important(so we can absolutely position the description div */
    }
    .custom-label {
        background-color: #e6e6e6;
        margin: 0;
        text-align: left;
        width: 100%;
        padding: 10px;
        font-family: 'Lato', cursive;
        color: #4d4d4d;
        font-size: 1 rem;
        font-weight: bold;
    }
    .label-md {
        font-family: 'Open Sans', cursive;
        font-size: 1.9rem;
        color: black;
        font-weight: 500;
    }
    .card-custom {
        margin-bottom: 10px;
        border: medium none;
        border-radius: 5px;
        display: block;
        text-align: center;
        margin: 2px 0 2px;
        padding: 80px 0 8px 0;
        font-size: 2.4rem;
        line-height: 1.2;
        color: white;
    }
    .h2-title-header {
        font-size: 8vw;
        font-weight: normal;
        font-family: 'Open Sans', cursive;
        color: white;
    }
    .h3-subtitle-header {
        font-family: 'Open Sans', cursive;
        color: white;
        font-size: 4vw;
        font-weight: 500;
    }
    .card-header-md {
        padding: 10px;
        background-color: #2cbaae;
    }
    .card-md h2.card-title {
        font-size: 4vw;
        font-weight: normal;
        font-family: 'Open Sans', cursive;
        color: white;
    }
    .h2-title {
        font-size: 5vw;
        ;
        font-weight: 600;
        font-family: 'Lato', cursive;
        color: black;
        align-content: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }
    .h3-subtitle {
        align-content: center;
        text-align: center;
        font-family: 'Lato', cursive;
        color: #8c8c8c;
        margin: 0;
        text-transform: uppercase;
        font-size: 4vw;
        padding: 5px 0 0px 0;
        font-weight: 600;
    }
    .content-custom {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
        display: block;
        bottom: 0;
        top: 50px;
        font-size: 2em;
        font-weight: 900;
        text-align: left;
        left: 0;
        position: absolute;
        padding: 0px 10px 10px 10px;
    }
    .col {
        padding: 5px 0px 0px 0px;
    }
    .label-md {
        margin: 0px 8px 0px 3px;
        color: black;
        font-size: 4.3vw;
        font-weight: 400;
    }
    .card-md.card-custom {
        background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background-repeat: repeat-x;
        padding: 20px 15px 20px 15px;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            color: white;
            font-weight: 600;
        }
        h2.card-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.9rem;
            color: white;
            border-radius: 5%;
            border: white solid 1px;
            background-color: #27a59b;
            padding: 2px;
            font-weight: 600;
        }
        h3.card-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3rem;
            color: white;
            padding: 2px;
            font-weight: 600;
        }
        p.p-custom {
            color: white;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 1.3rem;
            width: 40%;
            border-radius: 5%;
            text-align: center;
            padding: 2px;
            font-weight: 600;
            border: #f0b840 solid 1px;
            background-color: #f0b840;
        }
    }
    .input-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #999999;
        margin-bottom: 10px;
        margin-top: 5px;
        overflow: hidden;
        margin-left: 24px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-overflow: ellipsis;
    }
    .item-md {
        //width: 100vw; // margin-left: -10px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        color: white;
        background-color: transparent;
        box-shadow: none;
    }
    .scroll-content {
        background-color: #f9f9f9;
    }
    .content-custom-item {
        padding: 13px 16px 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
        background-color: white;
    }
    .span-custom-null {
        color: #999999;
    }
    [col-12] {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding-bottom: 10vw;
    }
    .addmore-button {
        font-size: 3.5vw;
    }
}