page-home-screen {
    ion-card-content.content-custom.card-content.card-content-ios {
        top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
    ion-card.card {
        box-shadow: 2px;
        background: rgba(0, 0, 0, 0.5);
        float: left;
        padding: 0;
        margin: 1px;
        /* important */
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        /* important(so we can absolutely position the description div */
        height: 25%;
    }
    .toolbar-content-md {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        min-width: 0;
        max-width: 100%;
        padding-bottom: 2px;
    }
    .logo-header {
        height: 35px;
        width: 230px;
        text-align: center;
        display:inline-block;
    }
    .scroll-content {
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    // .selection {
    //     min-height: 480px;
    //     height: auto;
    //     width: 100%;
    // }
    ion-card img {
        display: block; // width: 155px;
        // height: 160px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .cover {
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .grid {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height:100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 30px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .card-custom {
        margin-bottom: 10px;
        border: medium none;
        border-radius: 5px;
        display: block;
        text-align: center;
        margin: 2px 0 2px;
        padding-top: 14%;
        font-size: 2.4rem;
        line-height: 1.2;
        height: 100%;
        color: white;
    }
    .h2-title-header {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 5vw;
        font-weight: 600;
        font-family: 'Open Sans', cursive;
        color: white;
    }
    .h3-subtitle-header {
        font-family: 'Quicksand', cursive;
        color: white;
        padding-top: 10px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .content-custom {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
        display: block;
        bottom: 0;
        top: 50px;
        font-size: 2em;
        font-weight: 900;
        text-align: left;
        left: 0;
        position: absolute;
        padding: 0px 0px 0px 0px;
    }
    .button-inner {
        text-transform: none;
        font-family: 'Open Sans', cursive;
        font-weight: 700;
        color: white;
        font-size: 1.4rem;
    }
    .custom-row {
        padding: 0;
        .col {
            &:first-child {
                position: relative;
                padding: 0;
                .corner-ribbon {
                    width: 800px;
                    background: #22c1c3;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #fdbb2d, #22c1c3);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    position: absolute;
                    top: 25px;
                    left: -65px;
                    text-align: center;
                    line-height: 35px;
                    letter-spacing: 0px;
                    font-family: 'Open Sans', cursive;
                    font-size: 20px;
                    margin-left: 10px;
                    font-weight: 700;
                    color: white;
                    -ms-transform: rotate(40deg);
                    /* IE 9 */
                    -webkit-transform: rotate(40deg);
                    /* Chrome, Safari, Opera */
                    transform: rotate(40deg);
                }
            }
        }
    }
    /* common */
    .ribbon {
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: absolute;
    }
    .ribbon::before,
    .ribbon::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9;
    }
    .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 12px 16px 12px 40px;
        background: #22c1c3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fdbb2d, #22c1c3);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font: 700 18px/1 'Lato', sans-serif;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        text-align: center;
    }
    /* top left*/
    .ribbon-top-left {
        top: -10px;
        left: -20px;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-left-color: transparent;
    }
    .ribbon-top-left::before {
        top: 0;
        right: 0;
    }
    .ribbon-top-left::after {
        bottom: 0;
        left: 0;
    }
    .ribbon-top-left span {
        right: 0px;
        top: 40px;
        transform: rotate(-45deg);
    }
}