page-transport-locationservice {

.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid gray;
}

    ion-input, ion-textarea {
        border-bottom: 1px solid gray;
    }
}
