<ion-header no-border [class.opaque]="!showToolbar">
  <!--Navbar-->
  <ion-navbar color="primary">
    <!--Toggle title-->
    <ion-title [hidden]="!showToolbar">
      {{toursname}}
    </ion-title>
  </ion-navbar>
</ion-header>

<div class="scroll-content" style="padding-top:0px">
  <ion-content fullscreen="true" style="padding-top: 0px;" (ionScroll)="onScroll($event)">

    <div class="slide-pager" style="margin-left: -18px; width:110%; overflow: visible; margin-top: -10px;">
      <ion-slides pager="false" loop="false" speed="1000">
        <ion-slide>
          <ion-card>
            <img *ngIf="location?.ImageUrl == null" src="assets/img/bali-wallpaper.jpg" style="height: 250px;" />
            <img *ngIf="location?.ImageUrl != null" src="{{location?.ImageUrl}}" style="height: 250px;" />
            <ion-card-content>
              <ion-card-title>
                <h2>{{toursname}}</h2>
                <h3>{{guest}} Guest(s)</h3>
                <h3>From {{event.monthStart | date:'dd MMMM yyyy'}} Until {{event.monthEnd | date:'dd MMMM yyyy'}}</h3>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="info">
      <h2>Bali Honeymoon Package</h2>
      <p class="read-more-wrap">With an absolute beachfront location The InterContinental Bali Resort offers style, sophistication and romance.</p>
    </div>

    <div class="timeline">
      <ion-list>
        <ion-item *ngFor="let d of data;  let j = index" class="label-title-item" (click)="toggleDetails(d)">
          <ion-icon style="color: #fff" item-right [name]="d.icon" (click)="toggleDetails(d)"></ion-icon>
          <div class="divider-title">
            Day {{d.id + 1}} : {{d.dailyProgram.datetour | date:'dd MMMM yyyy' }}
          </div>
          <div style="padding-bottom: 0px;" *ngIf="d.showDetails" (click)="Details($event, j, d.dailyProgram.datetour)">
            <ul class="timeline" *ngFor="let p of d.dailyProgram.program_daily; let i = index">
              <li>
                <div class="timeline-thumb bg-color-positive timeline-icon" *ngIf="p.location != null">
                  <ion-icon ios="ios-pin" md="md-pin" class="timeline-icon" style="left: 5px;"></ion-icon>
                </div>
                <div class="timeline-item" *ngIf="p.location != null">
                  <h4 class="line-break">{{p.location.Name}}</h4>
                  <p class="line-break">{{p.location.Region.Name}}, {{p.location.Country.Name}}</p>
                </div>
              </li>
              <li *ngIf="p.acomodation != null">
                <div class="timeline-thumb bg-color-dark timeline-icon" *ngIf="p.acomodation != null">
                  <ion-icon ios="ios-cloudy-night" md="md-cloudy-night" class="timeline-icon"></ion-icon>
                </div>
                <div class="timeline-item" *ngIf="p.acomodation != null">
                  <h4>{{p.acomodation.Name}}</h4>
                  <p><span class="line-break" *ngIf="p.roomtype != null">{{p.roomtype.Name}}</span><span class="line-break"
                      *ngIf="p.roomservice != null">, {{(p.roomservice).replace('_', ' ')}}</span><br class="line-break">{{p.acomodation.Desc}}
                  </p>
                </div>
              </li>
              <li *ngIf="p.transportation != null">
                <div class="timeline-thumb bg-color-calm timeline-icon" *ngIf="p.transportation != null">
                  <ion-icon ios="ios-bus" md="md-bus" class="timeline-icon"></ion-icon>
                </div>
                <div class="timeline-item" *ngIf="p.transportation != null">
                  <h4>{{p.transportation.Name}}</h4>
                  <p class="line-break">{{p.transportation.TransportationSeatTypeName}} Seater<span class="line-break" *ngIf="p.transportservice != null">, {{(p.transportservice).split("_").join(" ")}}</span></p>
                </div>
              </li>
              <li *ngIf="p.attraction != null">
                <div class="timeline-thumb bg-color-energized timeline-icon" *ngIf="p.attraction != null">
                  <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" class="timeline-icon"></ion-icon>
                </div>
                <div class="timeline-item" *ngFor="let attrac of p.attraction ;let i = index">
                  <h4>{{attrac.Name}}</h4>
                  <p class="line-break"><span class="line-break" maxlength="100">{{attrac.Description}}</span></p>
                </div>
              </li>
            </ul>

            <div class="divider-footer">
              <button ion-button outline round class="addmore-button">
            Add more destination
          </button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div>

<ion-footer>
  <button ion-button style="margin-top: 0px;margin-bottom: 0px;" (click)="createSummary($event)" full>Continue</button>
</ion-footer>