<!--
  Generated template for the MybookingOn page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> 
      My Bookings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="margin-left: -10px; width:105%; overflow: visible; margin-top: -10px;">
  <ion-card class="mybooking-on" *ngFor="let his of HistoryBookingOpen" (click)="detailTourTapped($event, his?.TourTransactionSummaryViewModel.BookingDetailSum.Id)">
    <img src="assets/img/bali-wallpaper.jpg" style="height: 230px;" />
    <ion-card-content class="content-custom" style="top: 0px;">
      <ion-row class="custom-row">
        <ion-col col-4>
          <div class="ribbon ribbon-top-left"><span>CREATED</span></div>
        </ion-col>
      </ion-row>
      <ion-card-title class="card-custom">
        <h2 class="h2-title-header">{{his?.TourTransactionSummaryViewModel.BookingDetailSum.Title}}</h2>
        <h3 class="h3-subtitle-header">{{his?.TourTransactionSummaryViewModel.BookingDetailSum.StartDate | date:'dd'}} - {{his?.TourTransactionSummaryViewModel.BookingDetailSum.EndDate | date:'dd MMMM yyyy'}}</h3>
      </ion-card-title>
      <ion-row>
        <ion-col col-4>
      <button ion-button icon-left clear small>
        <ion-icon ios="ios-people" md="md-people"></ion-icon>
        <div>{{his?.TourTransactionSummaryViewModel.BookingDetailSum.TotalGuest}} Guest(s)</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left clear small>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        <div>{{his?.TourTransactionSummaryViewModel.BookingDetailSum.ExpiredOn  | date:'dd/MMM/yy'}}</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left clear small>
        <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>
        <div>USD  {{his?.TourTransactionSummaryViewModel.BookingDetailSum.TourTotalPrice  | number:'.0'}}.-</div>
      </button>
    </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>



<!--<ion-content padding>

<ion-card *ngFor="let his of HistoryBookingOpen" (click)="detailTourTapped($event, his?.TourTransactionSummaryViewModel.BookingDetailSum.Id)" >
  <ion-row>
    <ion-col>
      <h2>{{his?.TourTransactionSummaryViewModel.BookingDetailSum.Title}} ({{his?.TourTransactionSummaryViewModel.BookingDetailSum.Id}})</h2>
    </ion-col>
    <ion-col ><h2 style="float: right;">Created</h2></ion-col>
  </ion-row>
<ion-row>
  <ion-col>
      <h4>Guest : {{his?.TourTransactionSummaryViewModel.BookingDetailSum.AdultQty}} Adult,  {{his?.TourTransactionSummaryViewModel.BookingDetailSum.ChildQty}} Child,  {{his?.TourTransactionSummaryViewModel.BookingDetailSum.InfantQty}} Infant</h4>
  </ion-col>
  <ion-col >
    <h4>Total Guest :  {{his?.TourTransactionSummaryViewModel.BookingDetailSum.TotalGuest}}</h4>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <h4>From : {{his?.TourTransactionSummaryViewModel.BookingDetailSum.StartDate | date:'dd MMMM yyyy'}}</h4>
  </ion-col>
  <ion-col >
    <h4>Until : {{his?.TourTransactionSummaryViewModel.BookingDetailSum.EndDate | date:'dd MMMM yyyy'}}</h4>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h4>Expired Date : {{his?.TourTransactionSummaryViewModel.BookingDetailSum.ExpiredOn  | date:'dd MMMM yyyy'}}</h4>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h4 style="float: right;">Total Price : IDR  {{his?.TourTransactionSummaryViewModel.BookingDetailSum.TourTotalPrice  | number:'.0'}}.-</h4>
  </ion-col>
</ion-row>
</ion-card>


</ion-content>-->
