page-myprofile {
    .profile {
        ion-card {
            width: 100%;
            height: 100%;
            margin-top: 100px;
            overflow: visible;
            ion-card-content {
                // width: 100vw;
                margin-left: -10px;
                background-color: map-get($colors, primary);
                color: #FFFFFF;
                margin-top: -100px;
                text-align: center;
                padding-top: 22px;
                padding-bottom: 22px;
                background: url('../assets/img/profile_bg.png') center center no-repeat;
                background-size: cover;
                img {
                    height: 140px;
                    width: 140px;
                    border-radius: 50%;
                    border: solid 4px #FFFFFF;
                    display: inline;
                }
                h2 {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 2.5rem;
                    margin-top: .5rem;
                    color: white;
                }
                h3 {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 1.8rem;
                    color: white;
                }
            }
        }
    }
    .list>.item-block:first-child {
        border: medium none;
    }
    .item {
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.2);
        border: medium none;
        border-radius: 5px;
    }
    .item-md {
        width: 100vw; // margin-left: -10px;
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}