<!--
  Generated template for the ListAttraction page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose Attraction</ion-title>
  </ion-navbar>
  <ion-row center style="text-align:center;background:#4fd2c2;">
    <ion-col col-4 (click)="filterattracTapped($event)">
      <button ion-button icon-left clear>
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
        <div style="color:white;">Filter</div>
      </button>
    </ion-col>
    <ion-col col-8>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content fullscreen>
  <!--<h5 class="custom-h5" *ngIf="hotels?.length == 0">Attraction not found</h5>-->

  <h5 class="custom-h5" *ngIf="attractions?.length == 0">Attraction not found</h5>
  <h5 class="custom-h5" *ngIf="attractions?.length > 0">Choose attraction for your destination</h5>
  <div class="div-custom">
    <!-- <img src="assets/img/bali-wallpaper.jpg" style="height:150px; width:150px; margin: 10px; display: inline-block;"> -->
    <ion-card *ngFor="let attrac of attractions; let i = index">
      <!-- <img *ngIf="attrac.attractions.ImageUrl != null ;else other_content" src="{{baseUrl+attrac.attractions.ImageUrl}}" class="img-custom" />
      <ng-template #other_content><img src="assets/img/gwk-bali.jpg" class="cover" /></ng-template> -->
      <ion-row>
        <ion-col style="padding: 0;">
          <div class="box">
            <div class="ribbon ribbon-top-left"><span>Views Details</span></div>

            <img *ngIf="attrac.attractions.ImageUrl != null ;else other_content" src="{{baseUrl+attrac.attractions.ImageUrl}}" class="img-custom"
            />
            <ng-template #other_content><img src="assets/img/gwk-bali.jpg" class="cover" /></ng-template>
          </div>
        </ion-col>
        <!-- <ion-col col-12>
          <a href="#" class="custom-a" (click)="detailAtt(attrac.attractions)">Show Details</a>
        </ion-col> -->
      </ion-row>
      <!-- <p>Rp <strong>599.000</strong></p> -->
      <ion-card-content>
        <h2>{{attrac.attractions.Name}}</h2>
        <h4>{{attrac.attractions.Description}}</h4>
      </ion-card-content>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
                    <ion-icon ios="ios-pin" md="md-pin" class="custom-color"></ion-icon><h3>{{attrac.attractions.Address}}</h3>
                  </button>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4-custom (click)="printf2(attrac.attractions)">
          <button *ngIf="attrac.active == true" ion-button icon-left secondary [outline]="attrac.active" class="custom-button-pick"
            (click)="togglePick(i,attrac)"><div style="font-size: 3.5vw;">Pick</div></button>
          <button *ngIf="attrac.active == false" ion-button icon-left secondary [outline]="attrac.active" class="custom-button-pick"
            (click)="togglePick(i,attrac)"><div style="font-size: 3.5vw;">Picked</div></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!-- <ion-card *ngFor="let attrac of attractions" style="height:150px;">
<ion-row>
  <ion-col class ="col-custom" style="padding: 0;" *ngIf="attrac.ImageUrl != null ;else other_content"><img src="{{attrac.ImageUrl}}"/></ion-col>
  <ng-template #other_content><ion-col class ="col-custom"><img src="assets/img/gwk-bali.jpg" class="cover"/></ion-col></ng-template>
  <ion-col width-60>
    <div >
    <h2>{{attrac.Name}}</h2>
    <ion-icon ios="ios-star" md="md-star" class="custom-star"></ion-icon>
    <h3>Rating: {{hotel.AccommodationRating.Name}}</h3>
    <p style=" white-space: pre-wrap;"> <ion-icon ios="ios-pin" md="ios-pin-outline" class="custom-pin"></ion-icon>{{attrac.Address}}</p> 
    <ion-checkbox (ionChange)="printf2(attrac)"></ion-checkbox>
    </div></ion-col>
</ion-row>
</ion-card> -->
</ion-content>


<ion-footer>
  <button ion-button style="margin-top: 0px;margin-bottom: 0px; padding-bottom:0px;" (click)="setSelectedAttraction()" full>Done</button>
</ion-footer>