<ion-header no-border [class.opaque]="!showToolbar">
  <!--Navbar-->
  <ion-navbar color="primary">
    <!--Toggle title-->
    <ion-title [hidden]="!showToolbar">
      {{BookingDetailSum?.Title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<div class="scroll-content" style="padding-top:0px">
  <ion-content fullscreen="true" style="padding-top: 0px;" (ionScroll)="onScroll($event)">

    <div class="slide-pager" style="margin-left: -18px; width:110%; overflow: visible; margin-top: -10px;">
      <ion-slides pager="true" loop="true" speed="1000">
        <ion-slide *ngFor="let item of Images" >
          <ion-card>
            <img src="{{item}}"
              style="height:250px; width:100%;" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="info">
      <h2>{{BookingDetailSum?.Title}}</h2>
      <div class="readmore" *ngIf="read == false">
        <p class="p-readmore">Richly historical land with some of the best cuisine you will ever taste, scenery from beaches to mountains
            and the great city of İstanbul. Culinary Exploration The best thing about sampling Turkey's delicious specialties.
        </p>
        <a (click)="toggleDetails(read)">Read More</a>
      </div>

      <p class="p-readless" *ngIf="read == true">
          Richly historical land with some of the best cuisine you will ever taste, scenery from beaches to mountains
          and the great city of İstanbul. Culinary Exploration The best thing about sampling Turkey's delicious specialties.
        <a (click)="toggleDetails(read)">Read Less</a>
      </p>
      <ion-row class="row-custom">
        <ion-col col-1-custom>
          <p class="p-price">USD </p>
        </ion-col>
        <ion-col col-5>
          <h3>{{Prices?.LowestPrice}}/Pax</h3>
        </ion-col>
        <ion-col col-6>
          <p class="p-custom" style="text-align: right; padding-top: 2vw;">
            <ion-icon ios="ios-star" md="md-star" class="custom-star"></ion-icon>
            100 Review(s)
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <p class="p-custom">
            <ion-icon ios="ios-people" md="ios-people-outline" class="custom-pin"></ion-icon>
           <strong>{{BookingDetailSum?.FixedPackage.MinumumGuest}}-{{BookingDetailSum?.FixedPackage.MaximumGuest}}</strong> Guest(s)
          </p>
        </ion-col>
        <ion-col col-6>
          <p class="p-custom" style="text-align: right;padding-right: 10vw;">
            <ion-icon ios="ios-pin" md="ios-pin-outline" class="custom-pin"></ion-icon>
            <strong>9</strong> Place(s)
          </p>
        </ion-col>
      </ion-row>

      <p class="p-custom">
        <ion-icon ios="ios-time" md="md-time" class="custom-pin"></ion-icon>
        {{BookingDetailSum?.StartDate | date:'dd MMM yyyy'}} - {{BookingDetailSum?.EndDate| date:'dd MMM yyyy'}}
      </p>
      <p class="p-custom">
        <ion-icon ios="ios-cloudy-night" md="ios-cloudy-night-outline" class="custom-pin"></ion-icon>
        {{days+1}} Day(s) / {{days}} Night(s)
      </p>

      <p class="p-custom">
        <ion-icon ios="ios-cloudy-night" md="ios-cloudy-night-outline" class="custom-pin"></ion-icon>
        DP Before {{BookingDetailSum?.FixedPackage.DPExpiredOn | date:'dd MMM yyyy' }}
      </p>

      <p class="p-custom">
        <ion-icon ios="ios-cloudy-night" md="ios-cloudy-night-outline" class="custom-pin"></ion-icon>
         {{BookingDetailSum?.FixedPackage.RegisteringGuest}} Guest(s) Registered
      </p>
    </div>

    <div class="photos">
      <h2>Where we'll stay</h2>
      <div class="photos-hotel">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <img class="img-hotel" src="{{baseUrl+Hotel?.ImageUrl}}" />
            </ion-col>
            <ion-col col-8 style="padding: 0 2vw;">
              <h3>
                {{Hotel?.Name}}
              </h3>
              <p class="p-custom" style="text-align: left; padding-top: 0vw; margin:0">
                <ion-icon ios="ios-star" md="md-star" class="custom-star" *ngFor="let item of getNumber(Hotel?.AccommodationRating.Id)"></ion-icon>
                <!-- <ion-icon ios="ios-star" md="md-star" class="custom-star"></ion-icon>
                {{Hotel?.AccommodationRating.Id}} -->
              </p>
              <p class="p-custom" style="padding-top: 0vw; margin:0;text-align: justify;">
                <ion-icon ios="ios-pin" md="ios-pin-outline" class="custom-pin"></ion-icon>
                {{Hotel?.Address}}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <h2>Photos</h2>
      <ion-scroll scrollX="true">
        <img class="img-scroll" src="https://edge.media.datahc.com/HI253099376.jpg" />
        <img class="img-scroll" src="https://res.cloudinary.com/hstcxjula/image/upload/b_black,c_pad,f_auto,fl_keep_iptc,h_387,w_580/v1458193821/y0cmbplulajkj7dykkhc.jpg"
        />
        <img class="img-scroll" src="https://res.cloudinary.com/hstcxjula/image/upload/b_black,c_pad,f_auto,fl_keep_iptc,h_387,w_580/v1458632152/wpqkqb6otqwti80ty7xp.png"
        />
        <img class="img-scroll" src="https://res.cloudinary.com/hstcxjula/image/upload/b_black,c_pad,f_auto,fl_keep_iptc,h_387,w_580/v1458194054/g5hklg67zs4z7eeuoxsi.jpg"
        />
        <img class="img-scroll" src="https://res.cloudinary.com/hstcxjula/image/upload/b_black,c_pad,f_auto,fl_keep_iptc,h_387,w_580/v1458193793/jnjolgungeytsvordhn3.jpg"
        />
      </ion-scroll>
    </div>
    <div class="schedule">
      <h2>What we'll do</h2>
      <div class="slide-schedule" style="margin-left: 0;">
        <ion-slides>
          <ion-slide *ngFor="let dp of DailyPrograms ; let i = index;">
            <ion-card style="height:67vw; width:100%;">
              <ion-card-header>
                <ion-row>
                  <ion-col col-12>
                    Day {{dp.Day}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-time" md="md-time"></ion-icon>
                      <div style="font-size: 3.7vw;">08.00 AM</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                      <div style="font-size: 3.7vw;">{{dp.Date | date:'dd MMM yyyy'}}</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                      <div style="font-size: 3.7vw;">9 Place(s)</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <ion-grid fixed style="text-align: center;">
                  <ion-row class="row-wrap">
                    <ion-col col-3>
                      <img src="assets/img/grand-hyatt-hotel.jpg" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="assets/img/bali-wallpaper.jpg" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="assets/img/gwk-bali.jpg" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="assets/img/lombok-wallpaper.jpg" class="schedule-img" />
                    </ion-col>
                  </ion-row>
                  <ion-row class="row-wrap">
                    <ion-col col-3>
                      <img src="assets/img/backpacker-wallpaper.jpg" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="https://picture.triptrus.com/picture/l29226" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="http://alindstransport.com/wp-content/uploads/2016/09/Tugu-Jogja-Yogyakarta-jogja.jpg" class="schedule-img" />
                    </ion-col>
                    <ion-col col-3>
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Kelimutu_2007-07-21.jpg/400px-Kelimutu_2007-07-21.jpg"
                        class="schedule-img" />
                    </ion-col>
                  </ion-row>
                  <ion-col col-12 (click)="showDetails(dp.TourDestinations, dp.Day, dp.Date)">
                    <P style="color: #FF9800;  font-size: 4vw;">Details</P>
                  </ion-col>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          
          <!-- <ion-slide>
            <ion-card style="height:67vw; width:100%;">
              <ion-card-header>
                <ion-row>
                  <ion-col col-12>
                    Day 2
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>
                    <button ion-button icon-left clear small><ion-icon ios="ios-time" md="md-time"></ion-icon>
                      <div style="font-size: 3.7vw;">08.00 AM</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                      <div style="font-size: 3.7vw;">Aug 10, 2017</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                      <div style="font-size: 3.7vw;">9 Place(s)</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="height:67vw; width:100%;">
              <ion-card-header>
                <ion-row>
                  <ion-col col-12>
                    Day 3
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-time" md="md-time"></ion-icon>
                      <div style="font-size: 3.7vw;">08.00 AM</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                      <div style="font-size: 3.7vw;">Aug 10, 2017</div>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button ion-button icon-left clear small>
                      <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                      <div style="font-size: 3.7vw;">9 Place(s)</div></button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
              </ion-card-content>
            </ion-card>
          </ion-slide> -->
        </ion-slides>
      </div>
    </div>

    <div class="reviews">
      <h2>Reviews</h2>
      <!-- <p *ngIf="fixpackage.reviews.length==0">No reviews yet =(</p> -->
      <div>
        <ion-row>
          <ion-col col-2>
            <ion-avatar item-start>
              <img src="assets/img/user_pic.jpg" style="width:50px; height: 50px;">
            </ion-avatar>
          </ion-col>
          <ion-col col-10>
            <h3>Dhani S. Wibowo</h3>
            <ion-icon name="star" class="custom-star"></ion-icon>
            <p style="color: #808080; display: inline;">Aug 10, 2017</p>
            <!-- <ion-icon name="star" *ngFor="let star of itineraryService.getArray(reviewDetails.rating)"></ion-icon> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col col-10>
            <div class="readmore" *ngIf="read == false">
              <p class="p-readmore">The experience of visiting the beach was fantastic. Well managed facility with some great variety of foods.
                Guides and boat ride were the best.
              </p>
              <a (click)="toggleDetails(read)">Read More</a>
            </div>

            <p class="p-readless" *ngIf="read == true">
              The experience of visiting the beach was fantastic. Well managed facility with some great variety of foods. Guides and boat
              ride were the best.
              <a (click)="toggleDetails(read)">Read Less</a>
            </p>
          </ion-col>

        </ion-row>

      </div>
    </div>

    <div class="important">
      <h2>Important information</h2>
      <div class="important-content" *ngFor="let desc of Descriptions" >
        <p class="p-header">
          <ion-icon ios="ios-checkmark-circle" md="ios-checkmark-circle-outline" class="custom-pin" style="color: #4fd2c2;"></ion-icon>
          {{desc.SubTitle}}
        </p>
        <p class="p-custom" style="padding-bottom: 2vw; padding-left: 4.4vw; text-align:justify;" [innerHtml]="desc.Content"></p>
      </div>

      <div class="important-content">
        <p class="p-header">
          <ion-icon ios="ios-information-circle" md="ios-information-circle-outline" class="custom-pin" style="color: #4fd2c2;"></ion-icon>
          Additional info
        </p>
        <ul class="custom-list">
          <li>
            <p class="p-custom">Confirmation will be received at time of booking</p>
          </li>
          <li>
            <p class="p-custom">There is no minimum age</p>
          </li>
          <li>
            <p class="p-custom">A minimum of 2 people per booking is required</p>
          </li>
        </ul>
      </div>
      <div class="important-content">
        <p class="p-header">
          <ion-icon ios="ios-alert" md="ios-alert-outline" class="custom-pin" style="color: #e13838;"></ion-icon>
          Cancellation policy
        </p>
        <p class="p-custom" style="padding-bottom: 8vw; padding-left: 4.4vw; text-align:justify;">If you cancel at least 7 day(s) in advance of the scheduled departure, there is no cacellation fee. If you cancel
          between 3 and 6 day(s) in advance of the scheduled departure. there is a 50% cancellation fee. if you cancel within
          2 day(s) of the schedule departure, there is a 100 percent cancellation fee.</p>
      </div>
    </div>
  </ion-content>
</div>
<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button style="margin-top: 0px;margin-bottom: 0px;" full class="btn-accept" (click)="bookNow()">Book Now</button>
    </ion-col>
  </ion-row>
</ion-footer>