<!--
  Generated template for the FilterHotel2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filter Hotel Manual</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid style="text-align:center">
    <ion-row>
      <ion-col>
        <h3>Rating</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose Ratings</ion-label>
          <ion-select [(ngModel)]="ratings" multiple="true" (ionChange)=filterRat(ratings)>
            <ion-option *ngFor="let rat of listRatings" [value]="rat.Id">{{rat.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input disabled="true" type="text" aria-placeholder="ratings" [(ngModel)]="ratings" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h3>Area</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose Area</ion-label>
          <ion-select [(ngModel)]="areas" multiple="true" (ionChange)=filterAr(areas)>
            <ion-option *ngFor="let ar of listAreas" [value]="ar.Id">{{ar.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input disabled="true" type="text" aria-placeholder="areas" [(ngModel)]="areas" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h3>Location</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose Locations</ion-label>
          <ion-select [(ngModel)]="locations" multiple="true"  (ionChange)=filterLoc(locations)>
            <ion-option *ngFor="let loc of listLocations" [value]="loc.Id">{{loc.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input disabled="true" type="text" aria-placeholder="locations" [(ngModel)]="locations"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


   <ion-row>
      <ion-col>
        <h3>Accomodation Type</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose Type</ion-label>
          <ion-select [(ngModel)]="types" multiple="true">
            <ion-option *ngFor="let ty of listTypes" [value]="ty.Id">{{ty.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input disabled="true" type="text" aria-placeholder="types" [(ngModel)]="types" (onChange)=filterType(types)></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>



     <ion-row>
      <ion-col>
        <h3>Facilities</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose Facilities</ion-label>
          <ion-select [(ngModel)]="facilities" multiple="true" (ionChange)=filterFac(facilities)>
            <ion-option *ngFor="let fac of listFacilities" [value]="fac.Id">{{fac.Name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input disabled="true" type="text" aria-placeholder="facilities" [(ngModel)]="facilities"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>



<ion-footer>
    <button ion-button style="margin-top: 0px;margin-bottom: 0px;" (click)="listTapped($event)" full large >Go to List</button>
</ion-footer>
